-# Reusable login
%p
.two-column-layout

  / Login form
  .tcl-column.left

    = render :partial => "sessions/login_form", :locals => {:title => title}

  / Help text
  .tcl-column.right

    = render :partial => 'sessions/login_sidebar', :locals => {:standalone => standalone, :offer_password_change => offer_password_change}
