- @page_title = :match_savers.l.titleize

.content

  = render :partial => 'users/search_options'

  %h1
    =:savers.l.titleize

  .single-column

    .pagination.upper
      = paginating_links @savers, :params => params if @savers.page_count > 1

    = render :partial => "savers/list", :locals => {:savers => @savers}

    .pagination.lower
      = paginating_links @savers, :params => params if @savers.page_count > 1
