%h2
  ="Featured Donor"
%p
  ="Joe the Donor envisions a world where savings incentives and a path to long-term financial stability are available to everyone."
%p
  ="Joe the Donor takes the opportunity to help working people save toward economic stability by providing them a tax-deductible matching donation. Click"
  =link_to "here", match_savers_path
  ="for more info about Joe."
