%h2
  ="Featured Donor"
.section{:style => "float: left; margin: 10px;"}
  = link_to((image_tag donor.avatar_photo_url(:thumb), :alt => donor.display_name), donor_path(donor))
%h5{:style => "float: top;"}
  =link_to donor.display_name, donor_path(donor)
%p
  =truncate donor.description, :length => 250, :omission => "&hellip;"