.panel.w24.padding
  %h3
    ="Volunteer"
  %h6
    ="SaveTogether envisions a world where savings incentives and a path to long-term financial stability are available to everyone."
  %p
    ="We give you the opportunity to help working people save toward economic stability by providing them a tax-deductible matching donation. Click"
    =link_to "here", match_savers_path
    ="for more."
