.panel.w24.padding
  %h3
    ="Founding Partners"
  %h3
    =link_to "CFED", about_us_path
    %br/
    =link_to "American Dream Match Fund", about_us_path
    %br/
    =link_to "EARN", about_us_path
    %br/
    =link_to "Juma Ventures", about_us_path
    %br/
    =link_to "Opportunity Fund", about_us_path
