.panel.w24.padding
  %h3
    ="News"
  %h6
    ="SaveTogether announces its Bay Area launch party to be held on Sept. 30th."
  %h6
    ="CFED announces that it loves the new SaveTogether layout - pledges increase to US $1B."
