%h2
  ="News"
%p
  ="Read about us in the "
  =link_to "Seattle Times", "http://seattletimes.nwsource.com/html/thebusinessofgiving/2010004271_new_local_non-profit_focuses_o.html", :popup => true
%p
  ="Stay tuned for our San Francisco area launch party in early November."
%p
  ="SaveTogether to be profiled at CFED’s 30th anniversary party in Washington, DC on October 29th."
