%h2
  ="News"
%h6
  ="SaveTogether announces its Bay Area launch party to be held on Sept. 30th."
%h6
  ="CFED announces that it loves the new SaveTogether layout - pledges increase to US $1B."
%h6
  ="Layout evolves and SaveTogether moves inexorably to beta."
