%h2
  ="News"
%span{:style => "font-size: 14px;"}
  ="SaveTogether announces its Bay Area launch party to be held on Sept. 30th."
%br
%br
%span{:style => "font-size: 14px;"}
  ="CFED announces that it loves the new SaveTogether layout - pledges increase to US $1B."
