%h2
  ="Extend our Impact"
%p
  ="Help level the playing field and make opportunities like this one available to millions by supporting "
  =link_to "policies", take_action_path
  = " that expand economic opportunity."
