.panel.w24.padding
  %h3
    ="Extend Our Impact"
  %h6
    ="Make this opportunity available to millions. Click"
    =link_to "here", do_more_path
    ="to support polocies that expand this opportunity."
