*.log
*.iml
*.swp
.DS_Store
.generators
.idea/*
.rakeTasks
db/schema.rb
db/schema.sql
config/database.yml
config/newrelic.yml
config/active_resource.yml
config/apache/vhosts/localhost_with_ssl.conf
config/apache/vhosts/zerk_vhost.conf
config/services.yml
coverage/
doc/api
doc/app
log/*
out/*
perf/*
public/cache/**/*
public/javascripts/cached/
public/javascripts/*packaged*
public/photos/*
public/stylesheets/cached/
public/stylesheets/*packaged*
rspec_out/
test/performance/**/*result*/
test/performance/**/*.log
tmp/*
