%table{:width => "96%", :cellspacing => "0", :cellpadding => "5", :border => "0"}

  -# Headings
  %tr
    %td{:class => "large-text", :height => "36", :width => "15%", :bgcolor => "#f8faf5"}
      %p.large-text
        =:photo.l
    %td{:class => "large-text", :height => "36", :width => "15%", :bgcolor => "#f8faf5"}
      %p.large-text
        =:name.l
    %td{:class => "large-text", :height => "36", :width => "15%", :bgcolor => "#f8faf5"}
      %p.large-text
        =:member_since.l.titleize
    %td{:class => "large-text", :height => "36",                  :bgcolor => "#f8faf5"}
      %p.large-text
        =:why_i_support_savers.l
    %td{:class => "large-text", :height => "36", :width => "15%", :bgcolor => "#f8faf5", :align => "center"}
      %p.large-text
        =:most_recent_donation.l
    %td{:class => "large-text", :height => "36",                  :bgcolor => "#f8faf5"}
      %p.large-text
        =:number_of_pyramid_referrees_short.l
    %td{:class => "large-text", :height => "36",                  :bgcolor => "#f8faf5"}
      %p.large-text
        =:total_pyramid_of_giving_short.l        
        %span{:style => "font-size: 10px; font-weight: normal;"}	
          %a{:href => "/faq#pyramid", :title => "Go to FAQ to find about the Pyramid feature", :target => "_blank"}
            what's this?

  -# Spacer
  %tr
    %td{:valign => "middle", :align => "left", :colspan => "4"}
      %span{:style => "background-repeat: repeat-x;"}
        %img{:height => "2", :width => "2", :src => "#{image_path('icons/spacer.gif')}"}

  =render :partial => "donors/community/donor", :collection => donors
