%div{:class => "saver #{(donor_counter.odd? ? 'right' : '')}"}
  .info
    %p= truncate_words(donor.description, 40, '...')
  .with-img
    = link_to image_tag( donor.avatar_photo_url(:thumb), :border => "0" ), donor_path(donor)
    %span= donor.display_name.upcase
