-# Reusable Signup
%p
  %div{:style => "padding:5px 0px 0px 30px"}

    / Signup form
    %div{:style => "float: left; width: 450px;"}

      = render :partial => "donors/signup_form"
    
    / Help text
    %div{:style => "float: left;"}

      = render :partial => "donors/signup_sidebar", :locals => {:standalone => standalone}
