-# Reusable Signup
%p
  .two-column-form

    / Signup form
    .tcf-column

      = render :partial => "donors/signup_form"
    
    / Help text
    .tcf-column

      = render :partial => "donors/signup_sidebar", :locals => {:standalone => standalone}
