-# Reusable Signup
%p
%table{:width => "97%", :cellspacing => "0", :cellpadding => "5", :border => "0", :align => "center"}
  %tr
    / Signup form
    %td{:valign => "top"}

      = render :partial => "donors/signup_form"
    
    / Help text
    %td{:width => "48%", :valign => "top"}

      = render :partial => "donors/signup_help", :locals => {:standalone => standalone}
