-# Reusable Signup
%p
  .two-column-layout

    / Signup form
    .tcl-column.left

      = render :partial => "donors/signup_form", :locals => {:title => :sign_up.l}
    
    / Help text
    .tcl-column.right

      = render :partial => "donors/signup_sidebar", :locals => {:standalone => standalone}
