-# Reusable Signup
%p
%table{:width => "97%", :cellspacing => "0", :cellpadding => "5", :border => "0", :align => "center"}
  %tr
    / Signup form
    %td{:valign => "top"}
      %table{:width => "100%", :cellspacing => "0", :cellpadding => "0", :border => "0"}
        %tr
          %td{:class => "text12", :valign => "top", :height => "36", :colspan => "2"}
            %span.text12GreenTitle
              =:sign_up.l
           
        = render :partial => "donors/signup_form"
    
    / Help text
    %td{:width => "48%", :valign => "top"}
      %table{:width => "100%", :cellspacing => "0", :cellpadding => "0", :border => "0"}
        %tr
          %td
            %span.text12GreenTitle
              =:tips.l
            %p
              %span.text12
                =:after_signing_up_youll_receive_an_e_mail_confirmation_message.l
                =:click_the_activation_link_in_the_e_mail_to_log_in.l
                - if standalone
                  = link_to :already_have_an_account.l, "/login"

        / Errors
        %tr
          %td{:class => "text12", :valign => "top", :height => "36", :colspan => "2"}
            %br/
            = error_messages_for :donor 
