-@page_title= :community.l.titleize

.content

  %h1
    =:donor_community.l.titleize
  
  %div{:class => "pagination", :style => "margin-bottom:15px;"}
    - if @donors.page_count > 1
      = paginating_links @donors, :params => params
  
  = render :partial => "donors/community", :locals => {:donors => @donors}
  
  .pagination= paginating_links @donors, :params => params if @donors.page_count > 1
  