-@page_title= :sign_up_or_log_in.l

.content

  .two-column-layout
    
    / Signup form
    .tcl-column

      = render :partial => "donors/signup_form"
      = render :partial => "donors/signup_sidebar", :locals => {:standalone => false}

    / Login form
    .tcl-column

      = render :partial => "sessions/login_form", :locals => {:title => :or_log_in.l}
      = render :partial => 'sessions/login_sidebar', :locals => {:standalone => false, :offer_password_change => true}

