#profile_details.box.hentry
  .yui-g
    .yui-u.first
      %h3
        = "Thank you for your donation"
    .yui-u
      %h3
        = link_to "Click here to complete your profile", :controller => 'donors', :action => 'show'
