#profile_details.box.hentry
  .yui-g
    .yui-u.first
      %h3
        = "Thank you for your donation!"
    .yui-u
      %h3
        = link_to "Click here to complete your profile", welcome_photo_user_path(current_user)
      %p
        = "By completing the donor profile, you can join the SaveTogether community and post photos and tell everyone why you made your donation."
