.content.single-column
  = image_tag "#{image_path('temp/image-sub-signup.jpg')}", :usemap => "#banner_map"
  %h2
    About Us
  %table{:width =>"96%", :cellspacing => "0", :callpadding => "0", :border => "0", :align => "center"}
    %tr
      %td{:valign => "top", :align =>"left"}
        %span.text12GreenTitle
          The Team
        %p
        %span.text12
          %a{ :href=>'mailto:dylan@savetogether.org' }Dylan Higgins
          | <b>Co-Founder, CEO</b> is a former management consultant with Accenture and a licensed attorney. At Accenture, he led teams performing strategy, business process, product management and IT consulting for multiple Fortune 100 companies and start-ups. As an attorney, he focused on complex commercial litigation in federal and state courts. He has significant work experience in Asia, Africa, and Europe and has traveled to over 20 countries.  His passion for matched savings was born out of his recent Kiva fellowship in Ghana where he saw first hand the benefits of improving access to financial services for the working poor.  While not working to change the world one saver at a time, Dylan enjoys sailing his 28-foot sailboat Saoirse or revising his first novel – yet again.
        %p
        %span.text12
          %a{ :href=>'mailto:blair@savetogether.org' }Blair Benjamin
          | <b>Co-Founder, COO</b> is an asset development practitioner, managing Assets for Artists, an IDA program for low-income artists and artisans in the Berkshires of western Massachusetts. He writes regularly about the asset development field on his Asset Almanac blog. Other experience in community development includes serving as Director of Real Estate and Community Development for the Massachusetts Museum of Contemporary Art (MASS MoCA), directing all commercial real estate development and leasing for 125,000 square feet of income-producing space. He serves on the boards of the Berkshire Creative Economy Council and Northern Berkshire United Way. Previously, he served as Director of Development for MASS MoCA, leading a development team that raised over $2 million per year in contributed income, worked as Director of Marketing, Development and Community Relations for the Flatbush Development Corporation (a nonprofit community development corporation in Brooklyn), and served as a Peace Corps volunteer supporting agricultural and craft-based microenterprise development in the Ivory Coast. 
        %p
        %span.text12
          %a{ :href=>'mailto:tom@savetogether.org'}Tom Bostelmann
          | <b>Co-Founder, CTO</b> is originally from Minneapolis (home is where your down-jacket is) where he was raised by teachers and social workers. He moved to Seattle to develop open-source software and is currently an IP consultant working for Intellectual Ventures. Tom also volunteers for the Grameen Foundation's MIFOS project where he is a committer, serves as the coordinator for Contemplative Outreach Northwest, and plays the bassoon with the Puget Sound Symphony Orchestra.  In 2000 he worked for a 'social business' (a term Muhammud Yunus coined) called Viatru that provided U.S. market opportunities for artisans in developing countries. He has also served several years as a volunteer teacher with organizations such as Technology Access Foundation and BDPA.  Finally, Tom has taken Muhammud Yunus' pledge to end poverty and he hopes that his work with SaveTogether will contribute to that.
        %p
        %span.text12
          <b>Eric Desio | Web Design</b>
        %p
        %span.text12
          <b>Kate Deyoe | Strategy and Planning </b> Kate had an 8-year career as a consultant in the private sector, most recently at Deloitte & Touche. She has diverse experience managing financial and data analysis projects for companies in a variety of industries. Kate transitioned to the non-profit sector to focus on poverty alleviation.  She has dedicated herself to examining the root causes of poverty and effecting systemic change by providing support to organizations that address those problems in visionary ways, such as SaveTogether .  She has served as a consultant to numerous organizations focused on homelessness, affordable housing, asset building and microenterprise, as described on her website: http://ktdo.weebly.com.  Kate sits on the board of directors of BOSS (Building Opportunities for Self-Sufficiency), is a member of the Full Circle Fund, which effects social change through engaged philanthropy and public policy advocacy, and is a graduate of Leadership Berkeley.
        %p
        %span.text12 
          <b>Doug Scott | Product Development Team </b> 
        %p
        %span.text12
          <b>Laura Williams | Volunteer Strategy and Coordination</b> When Laura learned about the mission of SaveTogether she instantly wanted to be involved, and use her experience with innovative social change startups to expand and communicate the SaveTogether mission.  Laura brings over 10 years of experience in political and issue activism, non-profit strategy management, and event production to SaveTogether.  Over the last five years, she has been consulting with non-profit organizations helping them increase their capacity through national issue campaigns, events, and strategic volunteer initiatives.  Prior to that, Laura worked on the 2004 Presidential race as the Pacific Northwest Field Director for the Howard Dean Campaign, and then as the Regional Campaign Director for the Kerry/Edwards Campaign in the Philadelphia suburbs.   When she is not consulting, Laura enjoys training for the Danskin Triathlon in August, traveling, and volunteering her time with Pecha Kucha, Rock for a Remedy, and Seeds of Compassion.
        %p
        %span.text12
          <b>Leigh George | Brand Strategy</b>
        %p
        %span.text12GreenTitle 
          Board of Directors
        %p
        %span.text12
          <b>Jennifer Brooks | Policy Director</b>,
          %a{ :href=>'http://www.cfed.org' } CFED
        %p
        %span.text12
          <b>Dylan Higgins | CEO</b>,
          %a{ :href=> 'http://www.savetogether.org' } SaveTogether	
        %p
        %span.text12
          <b>Michael Kabisch, Case Manager</b>,
          %a{ :href=>'http://www.evergreentreatment.org' } Evergreen Treatment Services
        %p
        %span.text12
          <b>Ben Mangan | CEO</b>,
          %a{ :href=>'http://www.earn.org' } EARN
        %p
        %span.text12
          <b>Shaolee Sen | Marketing and Communication Director</b>,
          %a{ :href=>'http://www.opportunityfund.org' } Opportunity Fund
        %p
        %span.text12
          <b>Marc Spencer | CEO</b>,
          %a{ :href => 'http://www.jumaventures.org' } Juma Ventures
        %p
        %span.text12GreenTitle
          Matched Savings Program Partners
        %p
        %span.text12
          %a{ :href=>'http://www.earn.org' } EARN          
          San Francisco, CA
        %p
        %span.text12
          %a{ :href => 'http://www.jumaventures.org' } Juma Ventures
          San Francisco, CA
        %p
        %span.text12
          %a{ :href=> 'http://www.opportunityfund.org'} Opportunity Fund
          San Jose, CA
        %p
        %span.text12
          %a{ :href=> 'http://www.snapwa.org'} Spokane Neighborhood Action Programs
          Spokane, WA
        %p
        %span.text12
          %a{ :href=> 'http://www.massassets.org'} The Midas Collaborative
          Allston, MA 
        %p
        %span.text12GreenTitle
          Supporters
        %p
          %a{ :href=> 'http://www.cfed.org'} CFED
        %p
          %a{ :href=> 'http://www.americandreammatchfund.org'} American Dream Match Fund
        %p
          %a{ :href=> 'http://www.siliconvalleycf.org'} Silicon Valley Community Foundation
        %p
        %p
        %span.text12GreenTitle
          Corporate/Institutional Partners
        %p 
          %a{ :href=> 'http://www.dwt.com'} Davis Wright Tremaine
        %p
          %a{ :href=> 'http://www.grahamdunn.com'} Graham Dunn
        %p
          %a{ :href=> 'http://www.perkinscoie.com'} Perkins Coie
        %p
          %a{ :href=> 'http://www.law.washington.edu'} University of Washington Entrepreneurial Law Clinic
        %p
          %a{ :href=> 'http://www.bzzagent.com'} BzzAgent
        %p
          %a{ :href=> 'http://www.balsamiq.com'} Balsamiq Mockups 
        %p
        %span.text12GreenTitle
          Bay Area Working Group
        %p
          Gwendy Donaker Brown
        %p
          Jenna Boyer
        %p
          Kim Chueng
        %p
          Liz Coit
        %p
          Bob Friedman
        %p
          Gwyneth Galbraith
        %p
          Dan Geballe
        %p
          Liz Givens
        %p
          Arun Israel
        %p
          Caitlin McShane
        %p
          Eric Norman
        %p
          Kim Pate
        %p
          April Rinne
        %p
          Maria Sison
        %p
          Lonnie Snyder
        %p
          Sarah Sullivant
        %p
          Leigh Tivol
        %p
          Megan Trainer
        %p
          Rochelle Watson
        %p
          Eric Weaver 
        %p
        %span.text12GreenTitle
          Volunteers 
        %p
          Cathy Barsukoff
        %p
          Jesse Clark
        %p
          Ken Everett
        %p
          Conor Higgins
        %p
          MacKenzie Huff 
