-@page_title= :about_us.l.titleize

.content
  .about-us
    .two-column-layout.wide

      %h1= :about_us.l.titleize

      .tcl-column.left
        .block
          %h3
            The Team
          %h4.sub.first
            %em
              %a{:href=>'mailto:dylan@savetogether.org'}
                DYLAN HIGGINS
            CO-FOUNDER, CEO
          %h4.sub
            %em
              %a{ :href=>'mailto:blair@savetogether.org' }
                BLAIR BENJAMIN
            CO-FOUNDER, COO
          %h4.sub
            %em
              %a{ :href=>'mailto:tom@savetogether.org'}
                TOM BOSTELMANN
            CO-FOUNDER, CTO
          %h4.sub
            %em
              %a{:href => "http://www.linkedin.com/in/ericdesio"}
                ERIC DESIO
            WEB DESIGN
          %h4.sub
            %em
              %a{:href => "http://ktdo.weebly.com/"}
                KATE DEYOE
            STRATEGY AND PLANNING
          %h4.sub
            %em
              %a{:href => "http://www.linkedin.com/in/dougscott"}
                DOUG SCOTT
            PRODUCT DEVELOPMENT TEAM
          %h4.sub
            %em
              %a{:href => "http://www.laurawilliams.org/"}
                LAURA WILLIAMS
            VOLUNTEER STRATEGY AND COORDINATION
          %h4.sub
            %em
              %a{:href => "http://www.linkedin.com/in/leighgeorge"}
                LEIGH GEORGE
            BRAND STRATEGY
        .block
          %h3
            Board of Directors
          %h4.sub.first
            %em
              JENNIFER BROOKS
            POLICY DIRECTOR, CFED
          %h4.sub
            %em
              MICHAEL KABISCH
            CASE MANAGER, EVERGREEN TREATMENT SERVICES
          %h4.sub
            %em
              BEN MANGAN
            CEO, EARN
          %h4.sub
            %em
              SHAOLEE SEN
            MARKETING AND COMMUNICATION DIRECTOR, OPPORTUNITY FUND
          %h4.sub
            %em
              MARC SPENCER
            CEO, JUMA VENTURES
        .block
          %h3
            Founding Partners
          %ul.horiz.last
            %li
              %a{:href=>'http://www.cfed.org'}
                CFED
            %li
              %a{:href=>'http://americandreammatchfund.org'}
                AMERICAN DREAM MATCH FUND
            %li
              %a{:href=>'http://www.earn.org'}
                EARN
            %li
              %a{:href=>'http://www.jumaventures.org'}
                JUMA VENTURES
            %li
              %a{:href=>'http://www.opportunityfund.org'}
                OPPORTUNITY FUND
          .block
            %h3
              Funders
            %ul.horiz.last
              %li
                %a{:href=>'http://www.siliconvalleycf.org'}
                  SILICON VALLEY COMMUNITY FOUNDATION
            
      .tcl-column.right
        %div{:style => "float:left; margin: 0 0 20px 0;"}
          =image_tag "#{image_path('graphics/about_us.jpg')}", {:width => "390", :height => "300"}
        .block.no-border
          %h3
            Corporate/Institutional Partners
          %ul.horiz
            %li
              %a{:href=>'http://www.dwt.com'}
                Davis Wright Tremaine
            %li
              %a{:href=>'http://www.grahamdunn.com'}
                Graham Dunn
            %li
              %a{:href=>'http://www.perkinscoie.com'}
                Perkins Coie
            %li
              %a{:href=>'http://www.balsamiq.com'}
                Balsamiq Mockups 
          %ul.horiz.last
            %li
              %a{:href=>'http://www.law.washington.edu/clinics/entrepreneurial/'}
                UW Entrepreneurial Law Clinic
            %li
              %a{:href=>'http://www.bzzagent.com'}
                BzzAgent
        .block
          %h3
            Volunteers
          %ul.horiz.condensed
            %li
              Gwendy Donaker Brown
            %li
              Jenna Boyer
            %li
              Kim Chueng
            %li
              Liz Coit
            %li
              Bob Friedman
          %ul.horiz.condensed
            %li
              Gwyneth Galbraith
            %li
              Dan Geballe
            %li
              Liz Givens
            %li
              Arun Israel
            %li
              Caitlin McShane
          %ul.horiz.condensed
            %li
              Eric Norman
            %li
              Kim Pate
            %li
              April Rinne
            %li
              Maria Sison
            %li
              Lonnie Snyder
          %ul.horiz.condensed
            %li
              Sarah Sullivant
            %li
              Leigh Tivol
            %li
              Megan Trainer
            %li
              Rochelle Watson
            %li
              Eric Weaver 
          %ul.horiz.condensed.last
            %li
              Cathy Barsukoff
            %li
              Jesse Clark
            %li
              Ken Everett
            %li
              Conor Higgins
            %li
              MacKenzie Huff
