-@page_title= :about_us.l.titleize

.content
  .about-us
    .single-column{:style => "width: 500px; margin-left: 200px; margin-bottom: 20px;"}
      %span
        %em
          ="&ldquo;We cannot rebuild this economy on the same pile of sand. We must build our house upon a rock. We must lay a new foundation for growth and prosperity – a foundation that will move us from an era of borrow and spend to one where we save and invest.&rdquo;"
    .two-column-layout.wide
      .tcl-column.left

        %h1= "Team and Board"

        .block
          %h3
            The Team
          %h4.sub.first
            %em
              %a{:href=>'mailto:dylan@savetogether.org'}
                DYLAN HIGGINS
            CO-FOUNDER, CEO
          %h4.sub
            %em
              %a{ :href=>'mailto:blair@savetogether.org' }
                BLAIR BENJAMIN
            CO-FOUNDER, COO
          %h4.sub
            %em
              %a{ :href=>'mailto:tom@savetogether.org'}
                TOM BOSTELMANN
            CO-FOUNDER, CTO
          %h4.sub
            %em
              %a{:href => "http://www.linkedin.com/in/ericdesio"}
                ERIC DESIO
            WEB DESIGN
          %h4.sub
            %em
              %a{:href => "http://ktdo.weebly.com/"}
                KATE DEYOE
            STRATEGY AND PLANNING
          %h4.sub
            %em
              %a{:href => "http://www.linkedin.com/in/dougscott"}
                DOUG SCOTT
            PRODUCT DEVELOPMENT TEAM
          %h4.sub
            %em
              %a{:href => "http://www.laurawilliams.org/"}
                LAURA WILLIAMS
            VOLUNTEER STRATEGY AND COORDINATION
          %h4.sub
            %em
              %a{:href => "http://www.linkedin.com/in/leighgeorge"}
                LEIGH GEORGE
            BRAND STRATEGY
        .block
          %h3
            Board of Directors
          %h4.sub.first
            %em
              JENNIFER BROOKS
            POLICY DIRECTOR, CFED
          %h4.sub
            %em
              MICHAEL KABISCH
            CASE MANAGER, EVERGREEN TREATMENT SERVICES
          %h4.sub
            %em
              BEN MANGAN
            CEO, EARN
          %h4.sub
            %em
              SHAOLEE SEN
            MARKETING AND COMMUNICATION DIRECTOR, OPPORTUNITY FUND
          %h4.sub
            %em
              MARC SPENCER
            CEO, JUMA VENTURES

      .tcl-column.right

        %h1= "Partners and Supporters"

        .block
          %h3
            Founding Partners
            = link_to '(All Partners)', organizations_path
          %ul.horiz
            %li
              %a{:href=>'http://www.cfed.org'}
                CFED
            %li
              %a{:href=>'http://americandreammatchfund.org'}
                AMERICAN DREAM MATCH FUND
            %li
              %a{:href=>'http://www.earn.org'}
                EARN
            %li
              %a{:href=>'http://www.jumaventures.org'}
                JUMA VENTURES
          %ul.horiz.last
            %li
              %a{:href=>'http://www.opportunityfund.org'}
                OPPORTUNITY FUND
        .block
          %h3
            Funders
          %ul.horiz
            %li
              %a{:href=>'http://www.siliconvalleycf.org'}
                SILICON VALLEY COMMUNITY FOUNDATION
            %li
              %a{:href=>'http://www.marincf.org'}
                MARIN COMMUNITY FOUNDATION
          %ul.horiz.last
            %li
              %a{:href=>'http://www.sff.org'}
                SAN FRANCISCO FOUNDATION
            %li
              %a{:href=>'http://www.uwba.org'}
                UNITED WAY OF THE BAY AREA
            %li
              %a{:href=>'http://www.haassr.org'}
                HAAS SR. FUND

        .block
          %h3
            Corporate/Institutional Partners
          %ul.horiz
            %li
              %a{:href=>'http://www.dwt.com'}
                DAVIS WRIGHT TREMAINE
            %li
              %a{:href=>'http://www.grahamdunn.com'}
                GRAHAM DUNN
            %li
              %a{:href=>'http://www.perkinscoie.com'}
                PERKINS COIE
            %li
              %a{:href=>'http://www.balsamiq.com'}
                BALSAMIQ MOCKUPS 
          %ul.horiz.last
            %li
              %a{:href=>'http://www.law.washington.edu/clinics/entrepreneurial/'}
                UW ENTREPRENEURIAL LAW CLINIC
            %li
              %a{:href=>'http://www.bzzagent.com'}
                BZZAGENT
        .block
          %h3
            Volunteers
          %ul.horiz
            %li
              Gwendy Donaker Brown
            %li
              Jenna Boyer
            %li
              Kim Chueng
            %li
              Liz Coit
            %li
              Bob Friedman
          %ul.horiz
            %li
              Gwyneth Galbraith
            %li
              Dan Geballe
            %li
              Liz Givens
            %li
              Arun Israel
            %li
              Caitlin McShane
          %ul.horiz
            %li
              Eric Norman
            %li
              Kim Pate
            %li
              April Rinne
            %li
              Maria Sison
            %li
              Lonnie Snyder
          %ul.horiz
            %li
              Sarah Sullivant
            %li
              Leigh Tivol
            %li
              Megan Trainer
            %li
              Rochelle Watson
            %li
              Eric Weaver 
          %ul.horiz.last
            %li
              Cathy Barsukoff
            %li
              Jesse Clark
            %li
              Ken Everett
            %li
              Conor Higgins
            %li
              MacKenzie Huff

      .relax="&nbsp;"
      %div{:style => "margin: 30px 0 0 35%;"}
        =image_tag "#{image_path('graphics/how_it_works.jpg')}"

