-@page_title= :about_us.l.titleize

.content
  .about-us
    .single-column{:style => "margin-bottom: 20px;"}
      %p{:style => "line-spacing: 130%;"}
        ="SaveTogether envisions a world where savings incentives and long-term financial stability are available to everyone. We are collaborating with carefully-screened non-profit organizations a community dedicated to matching the savings goals of the low-wage workers and helping them save toward economic stability. We invite you to join our nationwide community of everyday philanthropists, transforming lives one dream at a time."
    .two-column-layout.wide
      .tcl-column.left

        %h1= "Team and Board"

        .block
          %h3
            The Team
          %h4.sub.first
            %em
              %a{:href=>'http://www.savetogether.org/donors/28'}
                Dylan Higgins
            Co-Founder, CEO
          %h4.sub
            %em
              %a{ :href=>'http://www.savetogether.org/donors/29' }
                Blair Benjamin
            Co-Founder, COO
          %h4.sub
            %em
              %a{ :href=>'http://www.savetogether.org/donors/27'}
                Tom Bostelmann
            Co-Founder, CTO
          %h4.sub
            %em
              %a{:href => "http://www.linkedin.com/in/ericdesio"}
                Eric Desio
            Web Design
          %h4.sub
            %em
              %a{:href => "http://www.savetogether.org/donors/50"}
                Kate Deyoe
            Strategy and Planning
          %h4.sub
            %em
              %a{:href => "http://www.savetogether.org/donors/26"}
                Doug Scott
            Product Development Team
          %h4.sub
            %em
              %a{:href => "http://www.laurawilliams.org/"}
                Laura Williams
            Volunteer Strategy and Coordination
          %h4.sub
            %em
              %a{:href => "http://www.savetogether.org/donors/25"}
                Dan Pirone
            Web Developer
        .block
          %h3
            Board of Directors
          %h4.sub.first
            %em
              Jennifer Brooks
            Policy Director, CFED
          %h4.sub
            %em
              Michael Kabisch
            Case Manager, Evergreen Treatment Services
          %h4.sub
            %em
              Ben Mangan
            CEO, EARN
          %h4.sub
            %em
              Shaolee Sen
            Marketing and Communication Director, Opportunity Fund
          %h4.sub
            %em
              Marc Spencer
            CEO, Juma Ventures

      .tcl-column.right

        %h1= "Partners and Supporters"

        .block
          %h3
            Founding Partners
            = link_to '(All Partners)', organizations_path
          %ul.horiz
            %li
              %a{:href=>'http://www.savetogether.org/organizations/74'}
                CFED / American Dream Match Fund
            %li
              %a{:href=>'http://www.savetogether.org/organizations/7'}
                EARN
            %li
              %a{:href=>'http://www.savetogether.org/organizations/61'}
                Juma Ventures
          %ul.horiz.last
            %li
              %a{:href=>'http://www.savetogether.org/organizations/5'}
                Opportunity Fund
        .block
          %h3
            Funders
          %ul.horiz
            %li
              %a{:href=>'http://www.siliconvalleycf.org'}
                Silicon Valley Community Foundation
            %li
              %a{:href=>'http://www.marincf.org'}
                Marin Community Foundation
          %ul.horiz.last
            %li
              %a{:href=>'http://www.sff.org'}
                San Francisco Foundation
            %li
              %a{:href=>'http://www.uwba.org'}
                United Way of the Bay Area
            %li
              %a{:href=>'http://www.haassr.org'}
                Hass Sr. Fund

        .block
          %h3
            Corporate/Institutional Partners
          %ul.horiz
            %li
              %a{:href=>'http://www.dwt.com'}
                Davis Wright Tremaine
            %li
              %a{:href=>'http://www.grahamdunn.com'}
                Graham Dunn
            %li
              %a{:href=>'http://www.perkinscoie.com'}
                Perkins Coie
            %li
              %a{:href=>'http://www.balsamiq.com'}
                Balsamiq Mockups
          %ul.horiz.last
            %li
              %a{:href=>'http://www.jonesday.com'}
                Jones Day
            %li
              %a{:href=>'http://www.anthro-tech.com'}
                Anthro-Tech
            %li
              %a{:href=>'http://www.law.washington.edu/clinics/entrepreneurial/'}
                UW Enterpreneurial Law Clinic
            %li
              %a{:href=>'http://www.bzzagent.com'}
                BzzAgent
        .block
          %h3
            Volunteers
          %ul.horiz
            %li
              Gwendy Donaker Brown
            %li
              Jenna Boyer
            %li
              Kim Chueng
            %li
              Liz Coit
            %li
              Bob Friedman
          %ul.horiz
            %li
              Gwyneth Galbraith
            %li
              Dan Geballe
            %li
              Liz Givens
            %li
              Arun Israel
            %li
              Caitlin McShane
          %ul.horiz
            %li
              Eric Norman
            %li
              Kim Pate
            %li
              April Rinne
            %li
              Maria Sison
            %li
              Lonnie Snyder
          %ul.horiz
            %li
              Sarah Sullivant
            %li
              Leigh Tivol
            %li
              Megan Trainer
            %li
              Rochelle Watson
            %li
              Eric Weaver 
          %ul.horiz.last
            %li
              Cathy Barsukoff
            %li
              Jesse Clark
            %li
              Ken Everett
            %li
              Conor Higgins
            %li
              MacKenzie Huff

      .relax="&nbsp;"
      %div{:style => "margin: 30px 0 0 35%;"}
        =image_tag "#{image_path('graphics/how_it_works.jpg')}"

