.content.single-column
  %h2
    Contact Us
  %table{:width =>"96%", :cellspacing => "0", :callpadding => "0", :border => "0", :align => "center"}
    %tr
      %td{:valign => "top", :align =>"left"}
        %p
          %span.text12
            To help us make this service better, we want to hear from you. Please click
            %a{:href => "http://www.surveymonkey.com/s.aspx?sm=7k5ubSScp98pJb9d1Y22pQ_3d_3d"}
              here
            to take a five-question survey that will help us improve this service.
        %p
          %span.text12
            If you have any other questions or just want to contact us, send an email
            %a{:href => "mailto:info@savetogether.org?Subject=Contact SaveTogether"}
              info@savetogether.org
            \.
