-@page_title= :faq.l.upcase

.content

  %h1
    =:frequently_asked_questions.l.titleize

  .single-column

    .block.no-border

      %h3
        Matched Savings Programs
      %h4
        What is a matched savings program?
      %p
        A matched savings program provides savings accounts for working people in which the individual saves and his or her savings is matched by public and/or private funds.  The individual uses the savings for an approved investment – often an educational degree program, or small business capitalization, or home ownership.  Savings are generally matched $2 for each $1 in savings.   
      %p
        Matched savings programs are typically a partnership between a community or state-based nonprofit organization and a financial institution.  Match funds are kept in a separate account at the financial institutiona and released to the vendor – the mortgage company, educational institution or business bank account – upon request of the saver and approval of the non-profit organization managing the program.   
      %h4
        Who is eligible to participate?
      %p
        Each matched savings program has its own income eligibility criteria but generally eligibility is based on the federal poverty level and area median incomes.  To learn more, please visit the websites of our matched savings program partners.       
      %h4
        How do savers “earn” their match?
      %p
        Participating families work, save, learn and invest to earn their savings match.  While making deposits every month into a restricted account (only the community organization can approve withdrawals), a saver is required to attend financial education classes to help her save more on her modest income, and to help her plan for the investment she intends to make.   When she has saved for at least six months and completes the training requirements, she can begin to invest her savings and match.  If the saver does not save, she does not earn matches.   
      %h4
        What can the saver purchase with their funds?
      %p
        Traditionally, matched savings accounts have been used for three major goals – post-secondary education, small business capitalization, and home ownership.  Many organizations are experimenting with new investment goals, such as saving for citizenship or saving to build emergency funds. As SaveTogether continues to grow, we hope that our platform will accommodate the realization of a variety of important goals.  If you’d like to suggest other goals that would help families break the cycle of poverty, contact us at info@savetogether.org 
      %h4
        Is $6,000 really enough to buy an asset, change lives?
      %p
        Yes.  It can cover two years of tuition at a community college.  It is more than the median investment in new businesses.  It – and the financial skills and knowledge as well as the brilliance of common families working for a brighter future – has even been sufficient for more than a hundred low-income San Francisco area working families to buy homes … and keep them.  A survey of low-income homeowners who bought homes in the last 5 years with the help of a matched savings account finds that their foreclosure rate is 1/10th that of low-income homeowners generally. 
      %h4
        How are the funds restricted to the intended use?
      %p
        When a saver is ready to make a purchase towards her goal, the matched savings program releases the funds directly to the vendor. For example, if a saver is paying for school, the matched savings program will write a check or make a fund transfer directly to the university.  
      %h4
        Do matched funds get deposited directly into the saver’s savings account?
      %p
        Savings matches are kept separate from the underlying savings and are only released upon the approval of the matched savings program in response to a saver request.   
      %h4
        How do we know matched savings programs work?
      %p
        Matched savings programs have been thoroughly and rigorously evaluated employing multiple methods including experimental impact assessments.  In the American Dream Demonstration, 2,364 low-income Americans, half of them living below the poverty line, saved an average of $17 a month.  Half of the participants went on to buy homes, start businesses, pursue their education, or save for retirement.  Participants continued to save, and reported overwhelmingly greater financial confidence, competence and connections.  The Savings for Education, Entrepreneurship and Downpayment demonstration of children’s savings accounts proved again that given the opportunity and appropriate incentives and structures, low income and even very poor people would save for their children’s education.  The Jim Casey Youth Opportunities Initiative reports similar results with foster youth, and longer term follow-up studies are now showing enduring effects on saving, investing and economic progress. 

    .block.no-border

      %h3
        Donations
      %h4
        Is my online donation secure?
      %p
        All donations at SaveTogether are processed on a secure, PayPal-hosted page. SaveTogether does not handle your financial information. To learn more about PayPal, click <a href="https://www.paypal.com/">here</a>.   
      %h4
        Is my donation tax deductible?
      %p
        Yes.  Both Save Together and our community matched savings partners are 501(c)(3) organizations, and you will get official recognition of your gift in support of your deduction.
      %h4
        Does SaveTogether take a cut from my donation?
      %p
        100% of your match donation will be disbursed to the matched savings program that is supporting your saver.  When you make a donation, we also ask you to make a voluntary donation to help us support our own operations.   
      %h4
        Does my donation go directly to the saver?
      %p
        According to IRS regulations, your donation cannot be earmarked directly to a particular saver.  Instead, your donation will be disbursed to the specific matched savings program where your saver is enrolled.   As part of our grant agreement with each matched savings program, we require your donation to be deposited directly into the pool of funds dedicated to providing the match for all of their savers.   
      %h4
        What happens if the saver fails to raise enough funds on the SaveTogether website?
      %p
        A saver’s profile remains on our website for up to three months.  If the fundraising goal is not met, the saver’s profile will be removed from the website.  You will receive an email with the profile of a new saver whose progress you can follow.     
      %h4
        What happens if the saver fails to meet the savings goal?
      %a{:name => 'pyramid'}
      %p
        If your saver drops out of the matched savings program, we will assign another saver for you to follow – one with a similar goal and in a similar geographic location.   We will email you with a link to this new saver’s profile.   
      %h4
        What is the Network of Good?
      %p
        To encourage the community concept, we want to recognize those of you who refer your family and friends to the site.  The Network of Good  tallies up the donation amount of those that you refer as well as those that your referrers referred (and so on).  You can hide your Network of Good by un-checking the 'Show Network of Good' checkbox in your
        - path = if current_user then edit_donor_path( current_user ) else about_us_path end
        =link_to_unless( current_user.nil?, "profile page.", path, :title => "Go to edit profile page" )
        - if current_user
          To start building your Network now,
          =link_to " click here.", do_more_path, :title => "Go to Do More page"

    .block.no-border

      %h3
        About SaveTogether
      %h4
        Is SaveTogether a 501(c)(3) non-profit organization?
      %p
        Yes and all of your contributions are tax-deductible in the United States.  SaveTogether’s Employee Identification Number is 26-3455579.  This EIN can be used on Schedule A – Itemized Deductions (Form 1040) of your tax return. 
      %h4
        How does SaveTogether select its matched savings program partners?
      %p
        SaveTogether follows a rigorous due diligence process in selecting its matched savings programs.   Every program completes an application that focuses on the program’s operational history, its financial and legal status, and its passion for our mission.  A selection committee comprised of practitioners in the field reviews each application.  Site visits are performed for each program before a final decision is been made by the committee.  
      %h4
        How can my matched savings program be featured on SaveTogether?
      %p
        SaveTogether partners with matched savings programs that are highly experienced, have helped produce strong results for their savers, and implement the best practices of the matched savings field.
      %p
        If you would like to introduce your matched savings program to SaveTogether, you are welcome to send a short email to Blair Benjamin (blair@savetogether.org) to share some basic information about your organization and your program (total # of savers, # of years the program has operated, # of graduates/savers making matched withdrawals) and a sentence or two explaining why you are interested in SaveTogether.
      %p
        We look forward to hearing from you.

    .block.no-border

      %a{:name => 'opportunity'}
      %h3
        Sounds like a great opportunity!  How do I open a matched savings account?
      %p
        SaveTogether does not operate a matched savings program. We partner with outstanding organizations that do. If you are interested in applying to these organizations, please contact them directly.  Tell them SaveTogether sent you! Click here
        %a{:href => 'http://cfed.org/programs/idas/ida_directory_list/'}
          (http://cfed.org/programs/idas/ida_directory_list/)
        to view CFED's matched savings program directory to find a program in your area.  In the meantime, don't forget to
        %a{:href => 'http://www.savetogether.org/signup'}
          sign up 
        at SaveTogether to stay up-to-date as we offer new services on our website.
      %h4
        Here is a list of matched savings programs we are working with: 
      %ul
        %li
          %a{:href=>'http://www.earn.org'}
            EARN, San Francisco, CA
        %li
          %a{:href=>'http://www.jumaventures.org'}
            Juma Ventures, San Francisco, CA
        %li
          %a{:href=>'http://www.opportunityfund.org'}
            Opportunity Fund, San Jose, CA
        %li
          %a{:href=>'http://www.snapwa.org'}
            Spokane Neighborhood Action Programs, Spokane, WA
        %li
          %a{:href=>'http://www.massassets.org'}
            The Midas Collaborative, Allston, MA
        %li
          %a{:href=>'http://www.caab.org'}
            Capital Area Asset Builders, Washington, DC

