.content.single-column
  = image_tag "#{image_path('titles/feedback.gif')}"
  %table{:width =>"96%", :cellspacing => "0", :callpadding => "0", :border => "0", :align => "center"}
    %tr
      %td{:valign => "top", :align =>"left"}
        %p
          %span.text12
            To help us make this service better, we want to hear from you. Please click
            %a{:href => "http://www.surveymonkey.com/s.aspx?sm=7k5ubSScp98pJb9d1Y22pQ_3d_3d"}
              here
            to take a five-question survey that will help us improve this service.
        %p
          %span.text12
            -# This curious construction allows for an anchored phrase, at the end of a
            -# sentence, ended with a period, with no whitespace. The period has to follow
            -# on the last line to escape the anchor tag, and it's escaped with a backslash.
            -# The < removes whitespace surrounding the contents of the anchor tag, the >
            -# removes whitespace surrounding the anchor tag itself, and finally &nbsp; ensures
            -# there is whitespace *at the front* of the anchor. Phew. \ + > + < + &nbsp; Yikes.
            If you have any other questions or just want to contact us, send an email to&nbsp;
            %a{:href => "mailto:info@savetogether.org?Subject=Contact SaveTogether"}><
              info@savetogether.org
            \.
