.content.single-column
  %h2
    How It Works
  %table{:width =>"96%", :cellspacing => "0", :callpadding => "0", :border => "0", :align => "center"}
    %tr
      %td{:valign => "top", :align =>"left"}
        %span.text12GreenTitle
          How SaveTogether Works
        %p
          %span.text12GreenBold
            They Save
          %span.text12
            %br/
            Participants from carefully selected matched savings programs work hard to put away some of their income each month towards a specified savings goal.  The savings they build in their accounts will help them make life-changing investments such as attending college, starting a business, or buying a home.
        %p
          %span.text12GreenBold
            You Match
          %span.text12
            %br/
            You select a saver whose story and unique aspirations inspire you and agree to match all or a portion of the amount they have committed to saving.  Each dollar you donate will be further matched by the matched savings program that supports the saver.  For example, if a saver saves $5, and you match her $5, a matched savings program will match the saver with another $5 and ultimately she has $15 to use for her investment.  
        %p
          %span.text12GreenBold
            Together, We Prosper
          %span.text12
            %br/
            When the savers successfully reach their savings goal, they will have access to their savings plus the combined matching funds (including yours!) to use towards purchasing their investment.  This collaborative matching model makes it more feasible for the savers to make a significant investment in their future and accelerates the investment process.   Along the way, we all benefit from helping someone learn to save and generate prosperity for themselves, their family, and our community.
            %p
    %tr
      %td{:valign => "top", :align =>"left"}
        %span.text12GreenTitle
          How a Matched Savings Programs Works
        %p
          %span.text12GreenBold
            Commitment
          %span.text12
            %br/
            It begins with a hard-working saver who is determined to improve her life and gain financial independence for herself and her family (Men can participate, too, but the majority of savers in most matched savings programs are women, so we will say “her” in describing SaveTogether’s typical saver).
        %p
          %span.text12
            The saver hears about a nonprofit community organization that offers matched savings accounts to people like her who are struggling to get ahead.  She knows that it will improve her chances of success and help keep her on track if she can receive a match for every dollar saved. She applies for a matched savings account by submitting detailed financial records to show that her household income is below the maximum level for eligibility, and that she has minimal assets.  She also talks with program staff to convince them that she is committed to meeting a savings goal (and earning a match) that will allow her to make a life-changing investment, such as going to college, starting a small business, or buying a home.
        %p
          %span.text12GreenBold
            Education
          %span.text12
            %br/
            While making deposits every month into a restricted account (only the matched savings program administrators can approve withdrawals), she is required to attend financial education classes to help her save more on her modest income, learn household budgeting skills, understand how to build her credit, and help her plan for the investment she intends to make. 
        %p
          %span.text12GreenBold
            Investment
          %span.text12
            %br/
            When she has saved for at least six months and completed the training requirements, she can begin to invest her savings and the matches she has earned. The checks are cut straight from the matched savings program to approved vendors so there is no chance for misuse of funds. Program staff advise the saver on making the most responsible investments with her funds, helping to make sure that her education, small business or home ownership plan is right for her.
        %p
          %span.text12
            Each matched savings program is a little different: some have different upper limits on how much can be saved (often $2,000), different match ratios (a saver may earn a 1:1 match, or a 2:1 match, or even higher), different lengths of time to complete the program, and different eligibility criteria. We carefully screen each of our participating matched savings program partners to be certain that they all have exceptional staff, years of experience managing a program for working families, and the highest quality services to help savers succeed in breaking the cycle of poverty.
        %p
    %tr
      %td{:valign => "top", :align =>"left"}
        %span.text12GreenTitle
          How it Worked – Success Stories
        %p
          %span.text12GreenBold
            Education - Gilma
          %span.thumbnail
            =image_tag "#{image_path('thumbnails/gilma.png')}"
          %span.text12
            %br/
            “I wouldn’t change anything about my life. I think everything happens for a reason,” said 18-year old Gilma, who approaches life with great enthusiasm and determination. She is the daughter of a single, teenaged mother who was somewhat of a nomad. Gilma grew up with her grandparents, whom she considers parents, and is thankful that even though they didn’t have a lot of money, she had a loving, stable home.
        %p
          %span.text12
            Gilma spent part of her childhood in Guatemala, but her grandfather moved the family to America in search of opportunity. After arriving in San Francisco, Gilma’s grandfather worked as a janitor and part time in a bakery to provide for the family. Her grandmother worked in the home.
        %p
          %span.text12
            Though difficult at times, the move to America was beneficial for Gilma. She is the first in her family to graduate from high school and college. She attended the City College of San Francisco and—with the help of a matched savings account through CFED’s Saving for Education, Entrepreneurship and Downpayment (SEED) Initiative—transferred to San Francisco State University to pursue her dream of becoming a social worker.
        %p
          %span.text12
            Gilma learned about SEED while working at an ice cream shop. She saved about $25 from each paycheck and received a dollar-for-dollar match from SEED that she used for her educational expenses. Gilma said the program helped her learn how to save and budget while gaining money for school.
        %p
          %span.text12
            Gilma is just one of thousands of children and youth nationwide who saved for their futures through SEED programs.
        %p
          %span.text12GreenBold
            Starting a Business – Wally
          %span.thumbnail
            =image_tag "#{image_path('thumbnails/wally.png')}"
          %span.text12
            %br/
            A lifelong Chicago resident, Wally Wynn has always had a talent for construction. After graduating from high school, Wynn worked for a number of contractors, took classes in building trades and mastered plumbing, heating and air conditioning, electronics and lumber. He also decided, during slow periods when there weren’t enough jobs, that he could do better if he had his own business.
        %p
          %span.text12
            Several years ago, Wynn heard about Individual Development Accounts (IDAs) offered by a local nonprofit as part of CFED’s national American Dream Demonstration. IDAs are designed to help individuals and families achieve homeownership, pursue education and start or grow small businesses. Wynn realized that saving in an IDA where he would earn a match was the best route for him to realize his dream of owning a business. He also realized that it would be a lot of hard work and sacrifice.
        %p
          %span.text12
            Today, he owns Wynn’s Home Repair and hires his own crews. Business continues to grow, and for the last two years, his company has shown a profit. Wynn keeps a close eye on his crews and lets his customers know what his prices will be and when he will be able to complete each job. Asked to describe himself now, Wally says, “I am an owner and a boss. I like that!”
        %p
          %span.text12GreenBold
            Home Purchase – Sunshine
          %span.thumbnail
            =image_tag "#{image_path('thumbnails/sunshine.png')}"
          %span.text12
            %br/
            Sunshine, a working mother in Colorado, opened a matched savings account, earned her undergraduate degree and purchased a home with the support of CFED and Mile High United Way of Denver. Relying on the discipline and motivation she gained while saving toward her family’s goals, Sunshine is now pursuing a graduate degree.
        %p
          %span.text12
            Two years ago, Sunshine was without a job or a home and had only a high school education. She worked with the Englewood Housing Authority to get a job as a federal low-income housing coordinator and find a permanent home. With those milestones and her matched savings account in place, she was able to save for her house payments and education, and her savings were matched by Mile High United Way. 
        %p
          %span.text12
            While she put in countless hours of hard work and discipline to achieve such transformative success, she says the support she received was encouraging and the results were worth the effort. “It was really hard to save, but I hung in there; I had a goal in front of me,” she said. “There are so many resources out there. I lived in a shelter before, and didn’t have anything at all—now I can provide for my family and I have a house that I can call my own.”

