-@page_title= :press_center.l.upcase

.content

  .single-column
    %h2
      =:press.l.titleize

    .block{:style => "margin-bottom: 20px;"}

      %div{:style => "float: left;"}
        = image_tag "http://www.seattletimescompany.com/images/left_logo.gif", :alt => "The Seattle Times"
      %h4
        = "The Seattle Times, October 5, 2009"
      =link_to "Would you help a stranger save money?", "http://seattletimes.nwsource.com/html/thebusinessofgiving/2010004271_new_local_non-profit_focuses_o.html", :popup => true

    %br
    %h2
      =:press_releases.l.titleize

    .block

      %h4
        SaveTogether announces its launch
      %p
        Should text go here or do you want a seperate page?   
