-@page_title= :press_center.l.upcase

.content

  .single-column
    %h2
      =:press.l.titleize

    .block{:style => "margin-bottom: 20px;"}

      %div{:style => "float: left;"}
        = image_tag "http://www.seattletimescompany.com/images/left_logo.gif", :alt => "The Seattle Times"
      %h4
        = "The Seattle Times, October 5, 2009"
      =link_to "Would you help a stranger save money?", "http://seattletimes.nwsource.com/html/thebusinessofgiving/2010004271_new_local_non-profit_focuses_o.html", :popup => true

    %br
    %h2
      =:press_releases.l.titleize

    .block

      %h4
        = link_to "SaveTogether Launches Unique Website to Fight Poverty in the U.S.", :controller => 'base', :action => "press_release_10152009"
      %br
      %p
        ="SEATTLE, WA—October 15, 2009— SaveTogether, a nonprofit organization that taps the power of matched savings to fight poverty and increase economic opportunity in the United States, announced the official launch of its website today (www.SaveTogether.org)."
