- @meta = { :description => AppConfig.meta_description, :keywords => AppConfig.meta_keywords, :robots => AppConfig.robots_meta_list_content }

#yui-main
  %div{ :class=>'yui-gc first', :align => 'center' }
    = image_tag( 'howitworks.png')
  %div{ :class=>'yui-gc', :align=>'center'}
    %font{:size=>"+2"} Featured Saver   
    = link_to("(All Savers)", :controller=>'users', :action=>'index')
  %br
  = render :partial => "users/user", :collection => @fsaver

