- @meta = { :description => AppConfig.meta_description, :keywords => AppConfig.meta_keywords, :robots => AppConfig.robots_meta_list_content }

-unless logged_in?
  =render :partial => 'base/homepage_banner_message'

#yui-main
  .yui-b
    .box.hfeed
      %h3
        =:recent_posts.l
      = render :partial => 'posts/post', :collection => @posts
      