-# Home page only: Google Webmaster verification string and robots.txt pointer
- @meta = {                                                     |
  :robots     => AppConfig.robots_meta_list_content,            |
  "verify-v1" => "qUbzpZfuULUTf2nSxp3he3j3jq8yYp1MhbbCFG+i524=" |
  }                                                             |
- @page_title = :savetogether_motto.l

.content
  .section.min-height.min-width

    =render :partial => "base/site_index/intro"

  .section

    =render :partial => "base/site_index/impact"

  .section
    
    =render :partial => "base/site_index/success_stories"

  .section.min-height

    =render :partial => "base/site_index/info_panels"
