- @meta = { :description => AppConfig.meta_description, :keywords => AppConfig.meta_keywords, :robots => AppConfig.robots_meta_list_content }

#yui-main
  %div{ :class=>'yui-gc first', :align => 'center' }
    = image_tag( 'howitworks.png')
    = render :partial => "users/fsaver", :collection => @fsaver

