-# Home page only: Google Webmaster verification string and robots.txt pointer
- @meta = {                                                     |
  :robots     => AppConfig.robots_meta_list_content,            |
  "verify-v1" => "qUbzpZfuULUTf2nSxp3he3j3jq8yYp1MhbbCFG+i524=" |
  }                                                             |
- @page_title = :savetogether_motto.l

.content
  .section.intro

    =render :partial => "base/site_index/intro", :locals => {:successful_saver => @successful_saver}

  .section.impact

    =render :partial => "base/site_index/impact"

  .section.success-stories
    
    =render :partial => "base/site_index/success_stories", :locals => {:savers => @featured_savers}

  .section.info-panels

    =render :partial => "base/site_index/info_panels"
