- @page_title = :how_it_works.l.titleize

.content
  .how-it-works
    .block.no-border
      %h1
        ="success stories".titleize
      %h4
        %a{:name => "gilma"}
          EDUCATION - GILMA
      .thumbnail
        =image_tag "#{image_path('thumbnails/gilma.png')}"
      %div{:style => "float:right; margin: 0px 20px 15px 10px;"}
        =image_tag "#{image_path('graphics/success_stories.jpg')}"
      %p
        “I wouldn’t change anything about my life. I think everything happens for a reason,” said 18-year old Gilma, who approaches life with great enthusiasm and determination. She is the daughter of a single, teenaged mother who was somewhat of a nomad. Gilma grew up with her grandparents, whom she considers parents, and is thankful that even though they didn’t have a lot of money, she had a loving, stable home.
      %p
        Gilma spent part of her childhood in Guatemala, but her grandfather moved the family to America in search of opportunity. After arriving in San Francisco, Gilma’s grandfather worked as a janitor and part time in a bakery to provide for the family. Her grandmother worked in the home.
      %p
        Though difficult at times, the move to America was beneficial for Gilma. She is the first in her family to graduate from high school and college. She attended the City College of San Francisco and—with the help of a matched savings account through CFED’s Saving for Education, Entrepreneurship and Downpayment (SEED) Initiative—transferred to San Francisco State University to pursue her dream of becoming a social worker.
      %p
        Gilma learned about SEED while working at an ice cream shop. She saved about $25 from each paycheck and received a dollar-for-dollar match from SEED that she used for her educational expenses. Gilma said the program helped her learn how to save and budget while gaining money for school.
      %p
        Gilma is just one of thousands of children and youth nationwide who saved for their futures through SEED programs.
      %h4
        %a{:name => "wally"}
          STARTING A BUSINESS - WALLY
      .thumbnail
        =image_tag "#{image_path('thumbnails/wally.png')}"
      %p
        A lifelong Chicago resident, Wally Wynn has always had a talent for construction. After graduating from high school, Wynn worked for a number of contractors, took classes in building trades and mastered plumbing, heating and air conditioning, electronics and lumber. He also decided, during slow periods when there weren’t enough jobs, that he could do better if he had his own business.
      %p
        Several years ago, Wynn heard about Individual Development Accounts (IDAs) offered by a local nonprofit as part of CFED’s national American Dream Demonstration. IDAs are designed to help individuals and families achieve homeownership, pursue education and start or grow small businesses. Wynn realized that saving in an IDA where he would earn a match was the best route for him to realize his dream of owning a business. He also realized that it would be a lot of hard work and sacrifice.
      %p
        Today, he owns Wynn’s Home Repair and hires his own crews. Business continues to grow, and for the last two years, his company has shown a profit. Wynn keeps a close eye on his crews and lets his customers know what his prices will be and when he will be able to complete each job. Asked to describe himself now, Wally says, “I am an owner and a boss. I like that!”
      %h4
        %a{:name => "sunshine"}
          HOME PURCHASE - SUNSHINE
      .thumbnail
        =image_tag "#{image_path('thumbnails/sunshine.png')}"
      %p
        Sunshine, a working mother in Colorado, opened a matched savings account, earned her undergraduate degree and purchased a home with the support of CFED and Mile High United Way of Denver. Relying on the discipline and motivation she gained while saving toward her family’s goals, Sunshine is now pursuing a graduate degree.
      %p
        Two years ago, Sunshine was without a job or a home and had only a high school education. She worked with the Englewood Housing Authority to get a job as a federal low-income housing coordinator and find a permanent home. With those milestones and her matched savings account in place, she was able to save for her house payments and education, and her savings were matched by Mile High United Way. 
      %p
        While she put in countless hours of hard work and discipline to achieve such transformative success, she says the support she received was encouraging and the results were worth the effort. “It was really hard to save, but I hung in there; I had a goal in front of me,” she said. “There are so many resources out there. I lived in a shelter before, and didn’t have anything at all—now I can provide for my family and I have a house that I can call my own.”
