.content.single-column
  .block.no-border
    %h3
      TERMS AND CONDITIONS OF USE (Last Updated July 14, 2009)
    %h4
      Welcome to SaveTogether!
    %p
      These Terms of Use and the SaveTogether Privacy Policy (the “Agreement”) governs all transactions between you (“you” or the “User”) and SaveTogether, as well as your use of the savetogether.org website (the “Website”). By using the Website, you agree to be bound by this Agreement, whether or not you participate in SaveTogether’s match-savings program described below and elsewhere on the Website (the “Program”) or otherwise use the Website. If you wish to participate in the Program or otherwise become a User of the Website, you must read and agree to all of the terms and conditions in this Agreement. If you do not agree with all of these terms and conditions, your sole remedy is to not participate in the Program and cease use of this Website.
    %h4
      The Match Savings Program
    %p
      SaveTogether has relationships with several 501(c)(3) nonprofit organizations throughout the United States that operate matched savings programs (each a Matched Savings Organization). A matched savings program is a program by which a low-income individual (the “Saver”) identifies a savings goal and begins to place money into a savings account to meet that goal. Each Saver also identifies the anticipated use of funds. The Saver is enrolled with a Matched Savings Organization that has committed to match the total amount of personal savings that the Saver has accrued over a specified period of time (collectively, the “Program”).   Each Matched Savings Organization offers a different ratio of matched funds to personal savings.  This ratio can be anywhere from 1:1 to 4:1.   
    %p
      The SaveTogether Website allows Users to participate in the Program by collecting donations for each of the Matched Savings Organizations that will be used to match individual Savers’ savings. The Website also allows Users to track the progress of Savers enrolled with Matched Savings Organizations.   
    %p
      Each Matched Savings Organization identifies Savers in their matched savings program to post onto the SaveTogether Website. For each Saver posted onto the Website, the Matched Savings Organization has previously committed to matching the Saver in the amount indicated on the Website as “Match Needed.”  Each Saver has at least 6 months of success at meeting savings goals and participating in training, and has at least 3 months remaining before completing the matched savings program. Savers continue to participate in the matched savings program by making monthly savings deposits and participating in any required financial or other training.  Once the Saver has reached their savings goal, they can withdraw their savings through the Matched Savings Organization along with any available match from their matched savings account.  Savers are required to use their savings plus the matched funds to invest in previously-identified assets, which can include, but is not limited to, attending post-secondary education, starting a business, or purchasing a home.   
    %p
      Users may browse the Website and search for one or more Savers whose stories resonate with them.  By selecting a Saver, Users can follow the Saver’s progress towards their savings goal and their investment goal.   The Saver that a User tracks the progress of is called a “Tagged Saver.”  Matched Savings Organizations submit quarterly reports to SaveTogether that include the savings progress of each Saver and withdrawal details. SaveTogether updates each Saver’s profile on the Website to reflect the progress reported to it by each Matched Savings Organization.   
    %p
      YOUR DONATIONS DO NOT GO DIRECTLY TO THE SAVER THAT YOU SELECTED.  INSTEAD, THE DONATION IS POOLED WITH OTHER DONATIONS AND DISTRIBUTED AS A GRANT TO THE MATCHED SAVINGS ORGANIZATION THAT HAS PREVIOUSLY COMMITTED ITS OWN MATCH FUNDS TO SUPPORT YOUR TAGGED SAVER.  SAVETOGETHER REQUIRES EACH MATCHED SAVINGS ORGANIZATION BY CONTRACT TO USE THE SAVETOGETHER GRANT FUNDS TO SUPPLEMENT THE POOL OF FUNDS AVAILABLE TO MATCH ALL OF THE MATCHED SAVINGS ORGANIZATION’S PARTICIPATING SAVERS.   SAVETOGETHER DISTRIBUTES ALL FUNDS IT HAS COLLECTED IN THE PRIOR CALENDAR QUARTER TO ITS MATCHED SAVINGS ORGANIZATIONS ON A QUARTERLY BASIS.  
    %p
      AS DESCRIBED ABOVE, EACH SAVER WILL RECEIVE THE MATCH AS POSTED ON THE WEBSITE IF THEY SUCCESSFULLY REACH THEIR SAVINGS GOAL AND OTHERWISE COMPLETE THE PROGRAM.  
    %p
      If a Saver does not reach the full savings match goal within 120 days after being posted onto the Website, the Saver will be removed from the Website and any donations provided by Users to that Saver will be reallocated by SaveTogether without notice to you to another Saver in the same matched savings program with similar savings goal, or if no such Saver remains in fundraising status for the same matched savings program, funds will be reallocated to another Saver profiled on the Website at SaveTogether’s discretion.
    %p
      If a Saver is eliminated or withdraws from the Program for any reason, SaveTogether will reallocate funds donated by Users to that Saver to a Saver with a similar asset goal, at least six months of successful participation in the Matched Savings Organization’s matched savings program, living in roughly the same geographic service area, and having an estimated 3 months or more to go before completing his or her savings goal. Users will be able to access the alternate Saver’s profile on the Website to track the Saver’s progress. 
    %p
      The process for calculating how much of the aggregate quarterly donations collected by SaveTogether through the Program are distributed to each Matched Savings Organization is as follows:
    %ul
      %li
        SaveTogether will post saver profiles furnished by the Matched Savings Organization for savers who have at least a six-month record of successful participation in the Matched Savings Organization’s matched savings program and have an estimated 3 months or more to go before making a final matched withdrawal. The fundraising goal for SaveTogether is a 1:1 savings match for each Saver. When the 1:1 match has been achieved through donations to SaveTogether, SaveTogether will notify the Matched Savings Organization.   
      %li
        SaveTogether then holds the funds while the Saver completes his or her portion of savings requirement, if not already met. At the end of the quarter in which the Saver reaches his or her savings goal, the Matched Savings Organization notifies SaveTogether and SaveTogether will disburse the funds in an amount equal to the match raised on the Website for that Saver.
      %li
        If a  Saver has not met his or her savings goal, but the match has been raised on the Website,  then SaveTogether will disburse the donations it has collected according to the 1:1 ratio noted above and any remaining collected donations will be reallocated by SaveTogether without notice to Users to a new profile with similar characteristics as described above.  
    %h4
      Collection of Donations for Savers
    %p
      Donations for Savers are processed through a third-party payment processor, Paypal.  We do not process any credit card payments nor collect any credit card information.    
    %p
      Donations for Savers are held in a separate bank account until SaveTogether disburses the funds as a grant to the applicable Matched Savings Organization. Users may also donate to SaveTogether through the Website. Any donations made directly to SaveTogether are held in SaveTogether’s general operating account.  
    %p
      SaveTogether is a non-profit corporation and has received exemption with the Internal Revenue Service as an organization that qualifies as a tax-exempt charity under Section 501(c)(3) of the Internal Revenue Code of 1986, as amended from time to time. Your donations to SaveTogether are tax deductible. Notwithstanding the foregoing, you are solely responsible for determining the proper tax treatment for any donation you make through the Website and the Program. SaveTogether has not and will not provide any tax or legal advice to you in connection with any donation you might make. This Agreement does not attempt to define the tax implications of participating in the Program. If you participate in the Program, you should consult with your own accountants, tax and legal advisors.
    %h4
      Ownership
    %p 
      This Website is owned and operated by SaveTogether, a Washington state non-profit corporation (“SaveTogether”, “we,” “us,” or “our”). Any legal claims or concerns regarding this Website should be addressed to:  info@savetogether.org. Except where otherwise indicated, the content featured or displayed on this Website, including, but not limited to, text, graphics, photographs, images, moving images, sound, illustrations and software, belong to SaveTogether, its licensors and its content providers, and is protected by copyright, trade dress, moral rights, trademark and other laws relating to intellectual property rights, to the fullest extent applicable under both United States and foreign laws. Unauthorized use of the materials available on this Website could subject you to liability under copyright, trademark, trade dress, unfair competition, and other laws of the United States.
    %h4
      License
    %p
      You do not have permission to copy materials from this site unless you receive prior-written approval from SaveTogether. You may not sell or modify the material or reproduce, republish, display, publicly perform, distribute, or otherwise use the material in any way for any public or commercial purpose. Unauthorized use of this material on any other Website or in a networked computer environment for any purpose is prohibited. You may not decompile, reverse engineer, disassemble, rent, lease, loan, sell, sublicense, or create derivative works from the Website or its content. Nor may you use any network monitoring or discovery software to determine the site architecture, or extract information about usage or users. You may not use any robot, spider, other automatic device, or manual process to monitor or copy our Website or its content without our prior written permission. You may not copy, modify, reproduce, republish, distribute, display, or transmit for commercial, non-profit or public purposes all or any portion of the Website, except to the extent permitted above.
    %h4
      Trademarks
    %p
      SaveTogether and the SaveTogether logo are trademarks of SaveTogether, protected under the laws of the United States (including state law) and other countries. Other parties’ trademarks used, depicted or identified on this Website are the property of their respective owners, used here by permission, and may be registered in one or more countries. Use on this Website of the trademark(s) of any other party is not intended to imply SaveTogether’s affiliation with or endorsement of that party, or that party’s sponsorship or endorsement of SaveTogether, its products or services.
    %h4
      Digital Millennium Copyright Act: Notification of Alleged Copyright Infringement
    %p
      We avail ourselves of the protections of the Digital Millennium Copyright Act and reserve the right to remove any content that is alleged to infringe the copyright of another party. Notices to us regarding any alleged copyright infringement on our Website should be directed to: info@savetogether.org.
    %h4
      Links to Other Website
    %p
      The Website contains links to Websites not operated or maintained by SaveTogether. These links are provided solely as a convenience to you and not as an endorsement by SaveTogether of the contents of such third party websites. SaveTogether is not responsible for the content of the sites of others and makes no representation regarding the content or accuracy of materials on such sites. If you decide to access linked third-party websites, you do so at your own risk, and waive any and all claims against SaveTogether regarding the inclusion of links to outside websites or your use of those websites. The third party sites may contain User Agreements or Terms and Conditions to which you are subject while using those sites. We encourage you to become familiar with the privacy policies of any linked site when you access that site.
    %h4
      Representations As To Content
    %p
      SaveTogether uses reasonable efforts to ensure the accuracy, correctness and reliability of this site’s content, but we make no representations or warranties as to the accuracy, reliability, completeness, or timeliness of any information or material on the site. The use of the Website and the material is at your own risk.
    %p
      Saver profiles, consisting of narrative text, certain data, and a digital photograph, are supplied to SaveTogether by the Matched Savings Organization. Save Together makes no representations or warranties as to the accuracy, reliability, completeness, or timeliness of any such information or material on the Website.
    %p
      If you post any messages or other information on the Website, you agree that such messages and information shall be considered owned by SaveTogether (“Content”), and you agree to grant, and shall be deemed to have automatically granted to SaveTogether an irrevocable, perpetual, non-exclusive, fully-paid, worldwide license to: (a) use, copy, perform, display and distribute such information and content; (b) modify, alter, prepare derivative works of, and/or incorporate into other works, such information and content; and (c) grant and authorize sublicenses of the foregoing. You represent and warrant that you have the right, power and authority to grant the foregoing license.
    %p
      To the extent you upload or post any photographs of yourself on the Website, you agree that such materials shall be considered Content for the purposes of the foregoing paragraph, and you agree to release, discharge and agree to hold harmless SaveTogether from any and all claims or liability, whether known or unknown, including any and all claims in connection with the publication, production, processing, distribution or exploitation of such materials, including any claims of infringement of any rights of publicity or rights of privacy.
    %p
      You acknowledge, consent and agree that SaveTogether may, at its sole discretion and to the extent permitted by law, access, read, preserve and disclose your account information, usage history and submitted Content in order to: (a) comply with any applicable law, regulation, legal process, or governmental request; (b) respond to claims that any Content violates the rights of third parties, including intellectual property rights; (c) enforce this Agreement and investigate potential violations thereof; (d) detect, prevent, or otherwise address fraud, security, or technical issues; (e) respond to your requests for customer service; or (f) protect the rights, property, or personal safety of SaveTogether, its users, or the public.
    %h4
      Limitations on SaveTogether's Liability
    %p
      SaveTogether is not responsible, and shall have no liability, for any incorrect or inaccurate materials or Content posted on the Website or any liability, cost or expense you may incur in connection with the Program, whether caused by any User, Matched Savings Organization or other Person or by any of the equipment or programming associated with or utilized in the Program. You also acknowledge and agree that Matched Savings Organizations are not liable for content created and posted by SaveTogether on the Website. SaveTogether is not responsible for the conduct, whether online or offline, of any User of the Website or any other Person.
    %p
      Under no circumstances will SaveTogether be responsible for any loss or damage, including personal injury or death, resulting from any use of the Website or participation in the Program, any Content posted on the Website or transmitted to, or any interactions between, any Users of the Website, whether online or offline. SaveTogether neither represents, warrants, covenants guarantees, nor promises any specific results from use of the Website or the Program.
    %p
      DISCLAIMERS OF WARRANTIES: SAVETOGETHER DOES NOT WARRANT THAT THE WEBSITE WILL OPERATE ERROR-FREE OR THAT THIS WEBSITE AND ITS SERVER ARE FREE OF COMPUTER VIRUSES AND/OR OTHER HARMFUL MATERIALS. IF YOUR USE OF THE WEBSITE OR THE MATERIAL RESULTS IN THE NEED FOR SERVICING OR REPLACING EQUIPMENT OR DATA, SAVETOGETHER IS NOT RESPONSIBLE FOR THOSE COSTS. THE WEBSITE AND MATERIAL ARE PROVIDED ON AN "AS IS" BASIS WITHOUT ANY WARRANTIES OF ANY KIND. SAVETOGETHER, TO THE FULLEST EXTENT PERMITTED BY LAW, DISCLAIMS ALL WARRANTIES, INCLUDING THE WARRANTY OF MERCHANTABILITY, NON-INFRINGEMENT OF THIRD PARTIES RIGHTS, AND THE WARRANTY OF FITNESS FOR PARTICULAR PURPOSE. SAVETOGETHER MAKES NO WARRANTIES ABOUT THE ACCURACY, RELIABILITY, COMPLETENESS, OR TIMELINESS OF THE MATERIAL, SERVICES, INFORMATION FOUND IN VIDEO PROGRAMS, SOFTWARE TEXT, GRAPHICS, AND/OR LINKS.
    %p
      DISCLAIMER OF CONSEQUENTIAL DAMAGES: EXCEPT AS OTHERWISE REQUIRED BY APPLICABLE LAW, NEITHER SAVETOGETHER NOR ITS DIRECTORS, EMPLOYEES, LICENSORS, CONTENT PROVIDERS, AFFILIATES OR OTHER REPRESENTATIVES WILL BE LIABLE FOR ANY DAMAGES WHATSOEVER, INCLUDING WITHOUT LIMITATION ANY DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL AND EXEMPLARY DAMAGES, ARISING FROM THE USE OR PERFORMANCE OF THIS WEBSITE OR FROM ANY INFORMATION, SERVICES OR PRODUCTS PROVIDED THROUGH THIS WEBSITE, EVEN IF SAVETOGETHER HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
    %p
      REMEDY: IF YOU ARE DISSATISFIED WITH THIS WEBSITE OR THE PROGRAM, OR ANY PORTION THEREOF, YOUR EXCLUSIVE REMEDY SHALL BE TO CEASE USING THE WEBSITE.
    %p
      Some U.S. states and foreign countries do not permit the exclusion or limitation of implied warranties or liability for certain categories of damages. Therefore, some or all of the limitations above may not apply to you to the extent they are prohibited or superseded by state or national provisions. SaveTogether makes no representation of any kind with respect to the applicability and enforceability of laws or policies of countries other than the United States over the content of this Website and the provisions of these Terms and Conditions.
    %h4
      Governing Law and Venue
    %p
      This Agreement shall be interpreted, construed and governed by the laws of the State of Washington, USA, without reference to its laws relating to conflicts of law. Venue for all disputes arising under this Agreement shall lie exclusively in the Superior Courts of the State of Washington in King County or the Federal District Courts of the Western District of Washington (as permitted by law) and each party agrees not to contest the personal jurisdiction of these courts. Notwithstanding the foregoing, however, SaveTogether shall have the right to commence and prosecute any legal or equitable action or proceeding before any non-U.S. court of competent jurisdiction to obtain injunctive or other relief in the event that, in the opinion of SaveTogether, such action is necessary or desirable.
    %h4
      Indemnity
    %p
      You agree to indemnify and hold SaveTogether harmless from any loss, liability, claim, or demand, including reasonable attorney's fees, made or incurred by any third party due to or arising (directly or indirectly) out of your use of the Website or participation in the Program or arising from your breach of this Agreement.
    %h4
      Enforcement
    %p
      Should any clause of these Terms and Conditions of Use be found unenforceable, wherever possible this will not affect any other clause and each will remain in full force and effect. SaveTogether’s failure to expressly enforce any provision of these Terms and Conditions does not waive its rights to enforce that or any other provision.
    %h4
      Modification/Integration
    %p
      We reserve the right to change these Terms of Use, and other information available on the Website, without notice, and all such modifications shall automatically become part of these Terms of Use and shall be effective once posted by SaveTogerther on the Website. These conditions set out the entire agreement between SaveTogether and you relating to your use of the Program and the Website.
    %p
      © 2009 SaveTogether. All rights reserved.  

