= image_submit_tag "#{image_path('icons/update.gif')}", :name => "update", :alt => :update.l
- if to_user != Organization.find_savetogether_org
  = image_submit_tag "#{image_path('icons/delete.gif')}", :name => "delete", :alt => :remove.l
