.content.single-column
  - if @pledge
    %h2
      = "Thank you for your donation!"
  %table{:width =>"96%", :cellspacing => "0", :callpadding => "0", :border => "0", :align => "center"}
    %tr
      %td{:valign => "top", :align =>"left"}
        = render :partial => 'users/partner_links'
        %p
        = render :partial => 'users/invite'
        %p
        = render :partial => 'users/web20'
