="Dear #{@user.first_name},"
=""
="Thanks for signing up as a partner of SaveTogether! This email confirms that we've created your account."
=""
="If you'd like to update your account at any time, please go to My Profile (#{@url}#{organization_path(@user)})."
=""
="Thanks again,"
="The SaveTogether Team"
