="Dear #{@user.first_name},"
=""
="Thanks for signing up for an organization account with SaveTogether.  This email confirm that we've created your account.   As we grow our network of partner organizations, we'll be sure to keep you updated.  In the meantime, continue to visit our website for other exciting news as we work to build financial stability for all."
=""
="If you'd like to update your account at any time, please go to My Profile (#{@url}#{organization_path(@user)}).   If you have any other questions, please email us at info@savetogether.org"
=""
="Thanks again,"
="The SaveTogether Team"
