body {
  background: url(/images/bg_body.png) repeat-x; }
  body #doc2 #bd {
    background: #fff;
    padding: 10px; }
  body #doc2 #ft {
    padding-left: 10px;
    padding-right: 10px; }
a {
	color:#5085AF;
}

#bd {
    background: url(/images/bg_body.png) repeat-x; }    
}

#CommunityFooter {
  background: #fff;
  padding: 10px; }

#hd {
  background: #C7DCE1 url(/images/header-750.jpg) no-repeat scroll 50% 0;
  padding: 0 10px 0 10px;
  border-top: 4px solid #16313F; }
	#hd h1 {
		background-color:#000;
		-moz-opacity: 0.8;
		opacity:.80;
		filter: alpha(opacity=80);
		}
  #hd h1 a {
    display: block;
		color:#fff;
    height: 37px;
		padding: 0 10px 0 10px;
    outline: none; 		
		}
  #hd h2 {
    color: #fff; 
		background-color:#000;
		-moz-opacity: 0.5;
		opacity:.50;
		filter: alpha(opacity=50);
		padding: 10px;
		margin-top: 155px;
		}
    #hd h2 a {
      color: #B59F6D; 
			}

#st-nav {margin-top: 115px;}
#st-nav ul {display:block; float: left; list-style: none; padding: 0; position: relative; bottom: 0; margin-left: 12px;}
#st-nav ul li {display: inline; float: left; margin-left: 2px; }
#st-nav ul a {background:#1E2072 url(/images/nav/nav_left.gif) no-repeat bottom left; cursor: pointer; float: left; padding: 0 0 0 4px; width: auto !important; width: 0.1em; white-space: nowrap; text-decoration: none; }
#st-nav ul a span {background:#1E2072 url(/images/nav/nav_right.gif) no-repeat bottom right; color:#ffffff; cursor: pointer; display: block; float: left; font-size: 12px; font-weight: bold; height: 13px; line-height: 6px; padding: 10px 17px 2px 13px; white-space: nowrap; }
#st-nav ul a:hover {background: #EBE8D9; background-position: top left; }
#st-nav ul a:hover span {background: #EBE8D9; color:#16313F;}
#st-nav ul li.current a {background: #EBE8D9; background-position: top left; }
#st-nav ul li.current a span {background: #EBE8D9; background-position: top right; color:#16313F; }
#st-nav ul li.current a:hover span {color:#3E5179;}
#st-nav ul a:hover span {background-position: right top;}

#bd .st-block {
  padding: 5px 10px 5px 10px;
}

  #bd h3 {
    font-size: 131%;
    font-weight: bold;
    font-variant: small-caps;
    padding-top: 20px;
    border-bottom: 1px solid #314C61; 
  }

  #bd h3 a {
    font-size: 77%;
  }
  
  #bd h4 {
    font-size: 108%;    
    font-weight: bold;
    padding-top: 10px;
  }
  
  .faq {
    padding-top: 5px;
  }

table.concepts {
  margin-top: 45px;
}

table.concepts td {
  font-size: 77%;
  font-weight: bold;
  color: #1E1352;
}

table.concepts td.image {
  text-align: center;
}

table.concepts td.step {
  font-size: 138.5%;
  color: black;
}

/* Can get rid of this one? */
.box h3 {
  border-bottom: 1px solid #314C61; }

.savers td {
  vertical-align: top;
}

.asset_case td {
  width: 100px;
  padding: 0px 0px 3px 0px;
  }