%span.text12GreenTitle
  Spread the word about SaveTogether – make this opportunity available to others!
%p
  %span.text12GreenBold
    Invite Your Friends to Visit Us
  %span.text12
    %br
    %textarea{:name => "textarea", :cols => "50", :rows => "1"}
      = "Match $25 to change lives through SaveTogether"
    %br
    %textarea{:name => "textarea", :cols => "70", :rows => "10"}
      = "Hi! I wanted to let you know about a great new website called SaveTogether (http://www.savetogether.org).  It allows each of us to participate in helping working Americans achieve their dreams by matching their savings goals so they can make life-changing investments in a college education, small business, or a first home.   Check it out and donate to join someone on the path to financial opportunity.   It’s fun – I did it!"
