%h2
  Spread the word about SaveTogether
.indent
  %h3
    Make this opportunity available to others - invite Your Friends to Visit Us!
  %div{:class => "indent", :style => "margin-top: 15px;"}
    %p
      ="Go ahead and use the suggested text below or feel free to create your own message:"
    %textarea{:name => "textarea", :cols => "79", :rows => "1"}
      = "Match $25 to change lives through SaveTogether"
    %textarea{:name => "textarea", :cols => "79", :rows => "5", :style => "margin-top: 10px;"}
      = "Hi! I wanted to let you know about a great new website called SaveTogether (http://www.savetogether.org).  It allows each of us to participate in helping working Americans achieve their dreams by matching their savings goals so they can make life-changing investments in a college education, small business, or a first home.   Check it out and donate to join someone on the path to financial opportunity.   It’s fun – I did it!"
