%span.text12GreenTitle
  Use Your Voice
%span.text12
  %br/
  SaveTogether works with partner organizations to advocate for federal and state policy.
  %br
  %br
  Click
  %span.text12GreenTitle
    %a{:href=>"http://www.cfed.org/act.m?edit=0&parentid=&siteid=5&id=2821"} here
  to learn more.
  %br
