%span.text12GreenBold
  Find Us on Your Networks.  Share information about us there.
%br
%br
-# 8CB146
-# <div style="width:176px;text-align:center">
-#   <embed src="http://twitter.com/flash/twitter_badge.swf"  flashvars="color1=16594585&type=user&id=22868595"  quality="high" width="176" height="176" name="twitter_badge" align="middle" allowScriptAccess="always" wmode="transparent" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
-#   <br>
-#     <a style="font-size: 10px; color: #FD3699; text-decoration: none" href="http://twitter.com/savetogether">
-#       follow SaveTogether at http://twitter.com
-#     </a>
-# </div>
%div{:style => "width:176px;text-align:center"}
  %embed{:src =>"http://twitter.com/flash/twitter_badge.swf", :flashvars => "color1=9220422&type=user&id=22868595", :quality => "high", :width => "176", :height => "176", :name => "twitter_badge", :align => "middle", :allowScriptAccess => "always", :wmode => "transparent"}
  %br/
  %a{:style => "font-size: 10px; color: #8CB146; text-decoration: none", :href => "http://twitter.com/savetogether"}
    follow SaveTogether at http://twitter.com/savetogether
  
-# <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,124,0" width="290" height="350" id="TwitterWidget" align="middle">
-#	<param name="allowScriptAccess" value="always" />
-#	<param name="allowFullScreen" value="false" />
-#	<param name="movie" value="http://static.twitter.com/flash/widgets/profile/TwitterWidget.swf" />
-#	<param name="quality" value="high" />
-#	<param name="bgcolor" value="#000000" />
-#	<param name="FlashVars" value="userID=22868595&styleURL=http://static.twitter.com/flash/widgets/profile/smooth.xml">
-#	<embed src="http://static.twitter.com/flash/widgets/profile/TwitterWidget.swf" quality="high" bgcolor="#000000" width="290" height="350" name="TwitterWidget" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" FlashVars="userID=22868595&styleURL=http://static.twitter.com/flash/widgets/profile/velvetica.xml"/>
-# </object>
/
  %object{:classid => "clsid:d27cdb6e-ae6d-11cf-96b8-444553540000", :codebase => "http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,124,0", :width => "290", :height => "350", :id => "TwitterWidget", :align => "middle"}
    %param{:name => "allowScriptAccess", :value => "always"}
    %param{:name => "allowFullScreen", :value => "false"}
    %param{:name => "movie", :value => "http://static.twitter.com/flash/widgets/profile/TwitterWidget.swf"}
    %param{:name => "quality", :value => "high"}
    %param{:name => "bgcolor", :value => "#000000"}
    %param{:name => "FlashVars", :value => "userID=22868595&styleURL=http://static.twitter.com/flash/widgets/profile/smooth.xml"}
    %embed{:src => "http://static.twitter.com/flash/widgets/profile/TwitterWidget.swf", :quality => "high", :bgcolor => "#000000", :width => "290", :height => "350", :name => "TwitterWidget", :align => "middle", :allowScriptAccess => "sameDomain", :allowFullScreen => "false", :type => "application/x-shockwave-flash", :pluginspage => "http://www.macromedia.com/go/getflashplayer", :FlashVars => "userID=22868595&styleURL=http://static.twitter.com/flash/widgets/profile/smooth.xml"}
%span.text12
  %br
  %br
  Facebook
  %br
  %br
  LinkedIn
