%div{:style => "display: block;"}
  %div{:style => "float: left;"}
    = image_tag "#{image_path('icons/three.gif')}"
  %h2.numbered
    Find Us on Your Networks.
  .indent
    .indent
      %h3
        Share information about us there.

      %div{:style => "display: block; margin-top: 25px;"}
        / Twitter badge START
        %div{:style => "float: left;"}
          %object{:classid => "clsid:d27cdb6e-ae6d-11cf-96b8-444553540000", :codebase => "http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,124,0", :width => "290", :height => "350", :id => "TwitterWidget", :align => "middle"}
            %param{:name => "allowScriptAccess", :value => "always"}
            %param{:name => "allowFullScreen", :value => "false"}
            %param{:name => "movie", :value => "http://static.twitter.com/flash/widgets/profile/TwitterWidget.swf"}
            %param{:name => "quality", :value => "high"}
            %param{:name => "bgcolor", :value => "#000000"}
            %param{:name => "FlashVars", :value => "userID=19210829&styleURL=http://static.twitter.com/flash/widgets/profile/smooth.xml"}
            %embed{:src => "http://static.twitter.com/flash/widgets/profile/TwitterWidget.swf", :quality => "high", :bgcolor => "#000000", :width => "290", :height => "366", :name => "TwitterWidget", :align => "middle", :allowScriptAccess => "sameDomain", :allowFullScreen => "false", :type => "application/x-shockwave-flash", :pluginspage => "http://www.macromedia.com/go/getflashplayer", :FlashVars => "userID=19210829&styleURL=http://static.twitter.com/flash/widgets/profile/smooth.xml"}
        / Twitter badge END

        %div{:style => "float: left; margin-left: 35px;"}
          / Facebook badge START
          - fb_server_and_protocol = (is_ssl? ? "https://www.connect.facebook.com" : "http://static.ak.facebook.com")
          %script{:type => "text/javascript", :src => "#{fb_server_and_protocol}/js/api_lib/v0.4/FeatureLoader.js.php/en_US"}
          %script{:type => "text/javascript"}
            - if is_ssl?
              FB.init("f706afc45926e36c80c5def2e444ef84", "integrations/xd_receiver_ssl.html");
            - else
              FB.init("f706afc45926e36c80c5def2e444ef84")
          %fb:fan{:profile_id => "201523205283", :stream => "1", :connections => "", :width => "290"}
          %div{:style => "font-size:8px; padding-left:10px"}
            %a{:href => "http://www.facebook.com/pages/SaveTogether/201523205283"}
              SaveTogether
            on Facebook
          / Facebook Badge END

        %div{:style => "float: left; margin-left: 35px;"}
          / LinkedIn badge START
          %a{:href => "http://www.linkedin.com/groups?gid=1622727"}
            %img{:src => "#{current_request_protocol}://www.linkedin.com/img/webpromo/btn_viewmy_160x33.gif", :width => "160", :height => "33", :border => "0", :alt => "View SaveTogether's profile on LinkedIn"}
          / LinkedIn Badge END
