.content

  %p
    %div{:class => "two-column-layout", :style => "margin-top:50px; margin-bottom:250px;"}

      / Login form
      .tcl-column

        %table{:width => "100%", :cellspacing => "0", :cellpadding => "0", :border => "0"}
          %tr
            %td{:class => "text12", :valign => "top", :height => "36", :colspan => "2"}
              %span.text12GreenTitle
                =:forgot_your_password.l


          -if flash[:error]
            / Login Error
            %tr
              %td{:class => "text12", :valign => "top", :colspan => "2"}
                .errorExplanation
                  %h2
                    =flash[:error]

          - form_tag '/forgot_password', :class => 'MainForm' do
            %tr
              %td{:class => "text12", :width => "28%", :height => "36"}
                %label{"for"=>"email"}="#{:enter_your_email_address.l}:"
              %td{:class => "text12", :width => "72%", :height => "36"}
                = text_field_tag 'email', nil, :size => 35

            %tr
              %td
              %td
                = submit_tag :reset_my_password.l

      / Help text
      .tcl-column

        = render :partial => 'sessions/login_sidebar', :locals => {:standalone => true, :offer_password_change => false}
