- @section = (params[:metro_area_id] ? 'metro_area' : 'users')

/ Main block
#yui-main
  .yui-b
    / Savers list and controls
    .yui-g
      = render :partial => 'users/search_options'
    .box.user_list
      %h3=:site_savers.l :site => AppConfig.community_name

      .pagination= paginating_links @users, :params => params if @users.page_count > 1

      = render :partial => "users/user", :collection => @users

      %br.clear
      .pagination= paginating_links @users, :params => params if @users.page_count > 1
/ Secondary block
.yui-b
