.box
  %h3=:admin.l

  %ul.list.checks
    %li= link_to "line_items", :controller => :line_items, :action => :list
    %li= link_to :metro_areas.l, metro_areas_path
    %li= link_to :statistics.l, statistics_path
    %li= link_to :ads.l, ads_path 
