%span#location_chooser
  = :Area

  = select_tag(:metro_area_id, '<option></option>' + options_from_collection_for_select(MetroArea.find(:all), "id", "name", selected_metro_area), {:style => "width:100px"})

  = :Goal

  = select_tag(:asset_type_id, '<option></option>' + options_from_collection_for_select(AssetType.find(:all), "id", "asset_name", :selected_asset_type), {:stype => "width:100px"})

