.panel.statement
  %h1.centered
    ="Now You Do"
.panel.match-now
  .text
    =link_to image_tag(image_path('buttons/match-now.gif')), match_savers_path
.panel.help
  %h2.centered
    ="And Help Break the Cycle"