.panel.partners
  = render :partial => "base/site_index/info_panels/partners", :locals => {:partner_list => @partner_list}

.panel.news
  = render :partial => "base/site_index/info_panels/news"

.panel.policy-advocacy
  = render :partial => "base/site_index/info_panels/policy_advocacy"