= render :partial => "base/site_index/info_panels/founders_and_volunteers"

= render :partial => "base/site_index/info_panels/featured_donor"

= render :partial => "base/site_index/info_panels/news"

= render :partial => "base/site_index/info_panels/policy_advocacy"