= render :partial => "base/site_index/info_panels/partners", :locals => {:partner_list => @partner_list}

= render :partial => "base/site_index/info_panels/featured_donor"

= render :partial => "base/site_index/info_panels/news"

= render :partial => "base/site_index/info_panels/policy_advocacy"