= render :partial => "base/site_index/info_panels/partners"

= render :partial => "base/site_index/info_panels/featured_donor"

= render :partial => "base/site_index/info_panels/news"

= render :partial => "base/site_index/info_panels/policy_advocacy"