.panel.banner
  .section
    -classes = ["one", "two", "three"]
    -::TRIPTYCH_PANELS.each_with_index do |panel, i|
      .panel.triptych
        =render :partial => "base/site_index/intro/triptych", :locals =>{ :panel => panel, :which => "#{classes[i]}"}

.panel.featured-profile
  =render :partial => "base/site_index/shared/featured_profile", :locals => {:title => "Success Story", :profile => successful_saver}
