.section.impact
  .panel.centered
    =render :partial => "base/site_index/success_stories/impact"

.section.savers
  -savers.each do |saver|
    .panel.saver-story
      = render :partial => "base/site_index/success_stories/saver", :locals => {:saver => saver}
