.panel.banner
  .section
      
    =render :partial => "base/site_index/intro/banner/triptych", :locals =>{ :panels => ::TRIPTYCH_PANELS}
      
  .section

    =render :partial => "base/site_index/intro/banner/arrow_graphic_placeholder_remove_me"
