.panel.success-story
  %h1.centered
    ="Success Story"
  .section
    .image
      =image_tag "#{image_path(featured_saver.avatar_photo_url)}", {:alt => featured_saver.display_name}
  .section
    %p
      =featured_saver.summary
