%table{:width => "400", :cellspacing => "0", :cellpadding => "5", :border => "0", :align => "center"}
  - if @org.web_site_url
    %tr
      %td.label
        = "Web Site:"
      %td{:align => "right"}
        %span.request-values
          -# Apparently have to handcraft the anchor - using link_to *always* discovers the org
          -# and builds a relative link to the organization, even tho' the url property is specified
          %a{:href => "http://#{@org.web_site_url}"}=@org.web_site_url
  %tr
    %td.label
      ="Email Contact:"
    %td{:align => "right"}
      %span.request-values= organization_survey.contact_email
  - if @org.phone_number
    %tr
      %td.label
        ="Phone Number:"
      %td{:align => "right"}
        %span.request-values= @org.phone_number
