%table{:width => "400", :cellspacing => "0", :cellpadding => "5", :border => "0", :align => "center"}
  - if @org.web_site_url
    %tr
      %td.label
        = "Web Site:"
      %td{:align => "right"}
        %span.request-values= link_to @org.web_site_url
  %tr
    %td.label
      ="Email Contact:"
    %td{:align => "right"}
      %span.request-values= @org.email
  - if @org.phone_number
    %tr
      %td.label
        ="Phone Number:"
      %td{:align => "right"}
        %span.request-values= @org.phone_number
