%tr
  %td{:height => "7", :valign => "top", :align => "left", :colspan => "4"}
    %span{:style => "background-repeat: repeat-x;"}
      %img{:height => "2", :width => "2", :src => "#{image_path('icons/spacer.gif')}"}
  %td{:height => "7", :valign => "top", :align => "left", :background => "#{image_path('bg/dotted_line.gif')}", :style => "background-repeat: repeat-x;", :colspan => "2"}
