%tr
  %td{:height => "7", :valign => "top", :align => "left", :colspan => "6"}
    %span.text12
      * Your individual contributions are not given directly to a saver. Rather, your contribution will be pooled with those of other donors and distributed in the form of grants to the organizations that support the savers including the one you have chosen to support. 
