<div class = "content">
    <div class = "block">
        <h2 class = "error-page">
            Oops!
        </h2>
        <p>
            An error has occurred, but don't worry the staff at SaveTogether have been notified and are looking into it. 
            For now, please return to the <a href="/">Home Page</a> or email us at <a href="mailto:info@savetogether.org">info@savetogether.org</a> if you need further help.
        </p>
    </div>
</div>
