<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>


    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Save Together</title>

    <style type="text/css" media="screen">
        @import url("public/css/main.css");
    </style>

    <link media="all" href="index_files/widget02.css" type="text/css" rel="stylesheet">
    <script src="index_files/menu12.js"></script>
</head>
<body>
<!-- Page -->
<div id="page">

    <!-- Header -->
    <div class="header">
        <form action="#">
            <div class="header-form">
                <div class="column">
                    <label for="login">Account Login</label>
                    <input id="login" type="text">
                </div>
                <div class="column">
                    <a href="#">Forgot Password?</a>
                    <input type="password">
                </div>
                <input value="" class="button" type="submit">

                <div class="relax">&nbsp;</div>
                <div align="right">
                    <!-- AddThis Button BEGIN -->
                    <a href="http://www.addthis.com/bookmark.php?v=250"
                       onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" onmouseout="addthis_close()"
                       onclick="return addthis_sendto()"><br>
                        <img src="index_files/lg-share-en.gif" alt="Bookmark and Share" style="border: 0pt none ;"
                             width="125" height="16"></a>
                    <script type="text/javascript" src="index_files/addthis_widget.js"></script>
                    <!-- AddThis Button END -->

                </div>
            </div>
        </form>
        <a href="#"><img src="index_files/logotype.jpg" alt="Save Together"></a>
    </div>

    <!-- Menu -->
    <div class="menu">
        <div class="menu-left">
            <div class="menu-right">
                <div class="text-box">
                    <p>Impact: <span>24</span> Savers Matched!</p>
                </div>
                <ul>
                    <li><a href="#">HOME</a> <img src="index_files/separator.gif" alt=""></li>
                    <li><a href="#">MATCH</a> <img src="index_files/separator.gif" alt=""></li>
                    <li><a href="#">HOW IT WORKS</a> <img src="index_files/separator.gif" alt=""></li>
                    <li><a href="#">SIGN-UP</a> <img src="index_files/separator.gif" alt=""></li>
                    <li><a href="#">DO MORE</a> <img src="index_files/separator.gif" alt=""></li>
                    <li><a href="#">HELP CENTER</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="content">
        <img src="index_files/image.jpg" alt="">

        <h2><img src="index_files/featured-savers.gif" alt="Featured Savers"></h2>

        <div class="saver">
            <div class="info">
                <p class="large-text">$482,46</p>
                <img src="index_files/img.gif" alt="">

                <div class="relax">&nbsp;</div>
                <a href="#" class="match"><img src="index_files/match.gif" alt="Match"></a>

                <p class="large-text">27% raised</p>

                <p>Regular
                    description text. Regular description text. Regular description text.
                    Regular description text. Regular description text. Regular description
                    text. Regular description text. Regular description text. </p>
            </div>
            <a href="http://shared.transcends.net/%7Esavetoge/css-code/sub-page.html" class="with-img">
                <img src="index_files/photo-1.jpg" alt="" border="0">
                <span>SAVER'S NAME</span> </a></div>
        <div class="saver right">
            <div class="info">
                <p class="large-text">$482,46</p>
                <img src="index_files/img.gif" alt="">

                <div class="relax">&nbsp;</div>
                <a href="#" class="match"><img src="index_files/match.gif" alt="Match"></a>

                <p class="large-text">27% raised</p>

                <p>Regular
                    description text. Regular description text. Regular description text.
                    Regular description text. Regular description text. Regular description
                    text. Regular description text. Regular description text. </p>
            </div>
            <a href="http://shared.transcends.net/%7Esavetoge/css-code/sub-page.html" class="with-img">
                <img src="index_files/photo-2.jpg" alt="" border="0">
                <span>SAVER'S NAME</span> </a></div>
        <div class="relax">&nbsp;</div>
        <div class="saver no-border">
            <div class="info">
                <p class="large-text">$482,46</p>
                <img src="index_files/img.gif" alt="">

                <div class="relax">&nbsp;</div>
                <a href="#" class="match"><img src="index_files/match.gif" alt="Match"></a>

                <p class="large-text">27% raised</p>

                <p>Regular
                    description text. Regular description text. Regular description text.
                    Regular description text. Regular description text. Regular description
                    text. Regular description text. Regular description text. </p>
            </div>
            <a href="http://shared.transcends.net/%7Esavetoge/css-code/sub-page.html" class="with-img">
                <img src="index_files/photo-3.jpg" alt="" border="0">
                <span>SAVER'S NAME</span> </a></div>
        <div class="saver right no-border">
            <div class="info">
                <p class="large-text">$482,46</p>
                <img src="index_files/img.gif" alt="">

                <div class="relax">&nbsp;</div>
                <a href="#" class="match"><img src="index_files/match.gif" alt="Match"></a>

                <p class="large-text">27% raised</p>

                <p>Regular
                    description text. Regular description text. Regular description text.
                    Regular description text. Regular description text. Regular description
                    text. Regular description text. Regular description text. </p>
            </div>
            <a href="http://shared.transcends.net/%7Esavetoge/css-code/sub-page.html" class="with-img">
                <img src="index_files/photo-4.jpg" alt="">
                <span>SAVER'S NAME</span> </a></div>
    </div>

    <!-- Footer -->
    <div class="footer">
        <img src="index_files/footer.gif" alt="">
        <a href="#" class="feedback"><img src="index_files/feedback.gif" alt=""></a>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Match</a></li>
            <li><a href="#">How It Works</a></li>
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">Do More</a></li>
            <li><a href="#">Help Center</a></li>
        </ul>
    </div>

</div>
<div style="z-index: 1000000;" id="at20mc">
    <div id="at16lb" onclick="return _atw.clb()"></div>
    <div id="at16pcc">
        <div style="display: none;" id="at16p"><a name="atabc"></a><a name="atpro"></a><a name="atclb"></a><a
                name="atopp"></a><a name="atcle"></a><a name="atcef"></a>

            <div id="at16pib">
                <div id="at16pi"><a id="at16pit" href="#" onclick="return _atw.opp()"
                                    style="display: none; visibility: hidden;">»</a>

                    <div id="at16pp" style="display: none;"></div>
                    <div id="at16pm">
                        <div id="at16pt"><h4><span id="at16ptc">Bookmark &amp; Share</span></h4><span
                                id="at16_brand"></span><a id="at16ptx" href="#" onclick="return _atw.clb()">X</a></div>
                        <div id="at16pc">
                            <div id="at_feed" style="display: none;"><span style="display: block;">Select from these web-based feed readers:</span><br>

                                <div onclick="return addthis_sendto('aol');"><a class="fbtn at_baa aol">AOL</a></div>
                                <div class="at_litem" onclick="return addthis_sendto('bloglines');"><a
                                        class="fbtn at_baa bloglines">Bloglines</a></div>
                                <div onclick="return addthis_sendto('google');"><a class="fbtn at_baa google">Google
                                    Reader</a></div>
                                <div class="at_litem" onclick="return addthis_sendto('mymsn');"><a
                                        class="fbtn at_baa mymsn">My MSN</a></div>
                                <div onclick="return addthis_sendto('netvibes');"><a class="fbtn at_baa netvibes">Netvibes</a>
                                </div>
                                <div class="at_litem" onclick="return addthis_sendto('newsgator-on');"><a
                                        class="fbtn at_baa newsgator-on">NewsGator</a></div>
                                <div onclick="return addthis_sendto('newsisfree');"><a class="fbtn at_baa newsisfree">Newsisfree</a>
                                </div>
                                <div class="at_litem" onclick="return addthis_sendto('pageflakes');"><a
                                        class="fbtn at_baa pageflakes">Pageflakes</a></div>
                                <div onclick="return addthis_sendto('technorati');"><a class="fbtn at_baa technorati">Technorati</a>
                                </div>
                                <div class="at_litem" onclick="return addthis_sendto('winlive');"><a
                                        class="fbtn at_baa winlive">Windows Live</a></div>
                                <div onclick="return addthis_sendto('yahoo');"><a class="fbtn at_baa yahoo">Yahoo</a>
                                </div>
                            </div>
                            <div style="display: none;" id="at_share">
                                <div style="display: none; visibility: hidden;" id="at16psf"><input id="at16filt"
                                                                                                    name="at16filt"
                                                                                                    tabindex="1"
                                                                                                    size="30"
                                                                                                    maxlength="50"
                                                                                                    onkeyup="_atw.filt(this.value,_atw.list)"
                                                                                                    type="text"></div>
                                <div id="at16ps">
                                    <div id="at16nms" style="display: none;"></div>
                                    <div id="ati_aim" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('aim');"><span
                                            class="at15t at15t_aim">AIM</span></div>
                                    <div id="ati_ask" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('ask');"><span
                                            class="at15t at15t_ask">Ask</span></div>
                                    <div id="ati_backflip" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('backflip');"><span
                                            class="at15t at15t_backflip">Backflip</span></div>
                                    <div id="ati_ballhype" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('ballhype');"><span
                                            class="at15t at15t_ballhype">BallHype</span></div>
                                    <div id="ati_bebo" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('bebo');"><span
                                            class="at15t at15t_bebo">Bebo</span></div>
                                    <div id="ati_blogger" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('blogger');"><span
                                            class="at15t at15t_blogger">Blogger</span></div>
                                    <div id="ati_blogmarks" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('blogmarks');"><span
                                            class="at15t at15t_blogmarks">Blogmarks</span></div>
                                    <div id="ati_buzz" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('buzz');"><span
                                            class="at15t at15t_buzz">Buzz</span></div>
                                    <div id="ati_delicious" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('delicious');"><span
                                            class="at15t at15t_delicious">Delicious</span></div>
                                    <div id="ati_digg" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('digg');"><span
                                            class="at15t at15t_digg">Digg</span></div>
                                    <div id="ati_diigo" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('diigo');"><span
                                            class="at15t at15t_diigo">Diigo</span></div>
                                    <div id="ati_email" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('email');"><span
                                            class="at15t at15t_email">Email</span></div>
                                    <div id="ati_facebook" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('facebook');"><span
                                            class="at15t at15t_facebook">Facebook</span></div>
                                    <div id="ati_fark" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('fark');"><span
                                            class="at15t at15t_fark">Fark</span></div>
                                    <div id="ati_faves" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('faves');"><span
                                            class="at15t at15t_faves">Faves</span></div>
                                    <div id="ati_favorites" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('favorites');"><span
                                            class="at15t at15t_favorites">Favorites</span></div>
                                    <div id="ati_friendfeed" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('friendfeed');">
                                        <span class="at15t at15t_friendfeed">FriendFeed</span></div>
                                    <div id="ati_google" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('google');"><span
                                            class="at15t at15t_google">Google</span></div>
                                    <div id="ati_hatena" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('hatena');"><span
                                            class="at15t at15t_hatena">Hatena</span></div>
                                    <div id="ati_kaboodle" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('kaboodle');"><span
                                            class="at15t at15t_kaboodle">Kaboodle</span></div>
                                    <div id="ati_kirtsy" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('kirtsy');"><span
                                            class="at15t at15t_kirtsy">kIRTSY</span></div>
                                    <div id="ati_linkagogo" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('linkagogo');"><span
                                            class="at15t at15t_linkagogo">Link-a-Gogo</span></div>
                                    <div id="ati_linkedin" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('linkedin');"><span
                                            class="at15t at15t_linkedin">LinkedIn</span></div>
                                    <div id="ati_live" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('live');"><span
                                            class="at15t at15t_live">Live</span></div>
                                    <div id="ati_meneame" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('meneame');"><span
                                            class="at15t at15t_meneame">Menéame</span></div>
                                    <div id="ati_misterwong" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('misterwong');">
                                        <span class="at15t at15t_misterwong">Mister Wong</span></div>
                                    <div id="ati_mixx" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('mixx');"><span
                                            class="at15t at15t_mixx">Mixx</span></div>
                                    <div id="ati_multiply" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('multiply');"><span
                                            class="at15t at15t_multiply">Multiply</span></div>
                                    <div id="ati_myaol" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('myaol');"><span
                                            class="at15t at15t_myaol">myAOL</span></div>
                                    <div id="ati_myspace" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('myspace');"><span
                                            class="at15t at15t_myspace">MySpace</span></div>
                                    <div id="ati_netvibes" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('netvibes');"><span
                                            class="at15t at15t_netvibes">Netvibes</span></div>
                                    <div id="ati_netvouz" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('netvouz');"><span
                                            class="at15t at15t_netvouz">Netvouz</span></div>
                                    <div id="ati_newsvine" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('newsvine');"><span
                                            class="at15t at15t_newsvine">Newsvine</span></div>
                                    <div id="ati_nujij" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('nujij');"><span
                                            class="at15t at15t_nujij">Nujij</span></div>
                                    <div id="ati_plaxo" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('plaxo');"><span
                                            class="at15t at15t_plaxo">Plaxo</span></div>
                                    <div id="ati_print" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('print');"><span
                                            class="at15t at15t_print">Print</span></div>
                                    <div id="ati_propeller" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('propeller');"><span
                                            class="at15t at15t_propeller">Propeller</span></div>
                                    <div id="ati_reddit" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('reddit');"><span
                                            class="at15t at15t_reddit">Reddit</span></div>
                                    <div id="ati_segnalo" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('segnalo');"><span
                                            class="at15t at15t_segnalo">Segnalo</span></div>
                                    <div id="ati_simpy" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('simpy');"><span
                                            class="at15t at15t_simpy">Simpy</span></div>
                                    <div id="ati_slashdot" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('slashdot');"><span
                                            class="at15t at15t_slashdot">Slashdot</span></div>
                                    <div id="ati_spurl" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('spurl');"><span
                                            class="at15t at15t_spurl">Spurl</span></div>
                                    <div id="ati_stumbleupon" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('stumbleupon');">
                                        <span class="at15t at15t_stumbleupon">StumbleUpon</span></div>
                                    <div id="ati_stylehive" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('stylehive');"><span
                                            class="at15t at15t_stylehive">Stylehive</span></div>
                                    <div id="ati_technorati" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('technorati');">
                                        <span class="at15t at15t_technorati">Technorati</span></div>
                                    <div id="ati_thisnext" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('thisnext');"><span
                                            class="at15t at15t_thisnext">ThisNext</span></div>
                                    <div id="ati_tumblr" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('tumblr');"><span
                                            class="at15t at15t_tumblr">Tumblr</span></div>
                                    <div id="ati_twitter" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('twitter');"><span
                                            class="at15t at15t_twitter">Twitter</span></div>
                                    <div id="ati_typepad" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('typepad');"><span
                                            class="at15t at15t_typepad">TypePad</span></div>
                                    <div id="ati_wordpress" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('wordpress');"><span
                                            class="at15t at15t_wordpress">WordPress</span></div>
                                    <div id="ati_yahoobkm" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('yahoobkm');"><span
                                            class="at15t at15t_yahoobkm">Y! Bookmarks</span></div>
                                    <div id="ati_yardbarker" class="at_item" onmouseover="_atw.hov(this)"
                                         onmouseout="_atw.hov(this)" onclick="return addthis_sendto('yardbarker');">
                                        <span class="at15t at15t_yardbarker">Yardbarker</span></div>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div id="at_complete" style="display: none;">
                                <button onclick="_atw.clb()">Done</button>
                            </div>
                            <div id="at_success" style="display: none;">Message sent! <a href="#"
                                                                                         onclick="_atw.get('at16filt').value='';_atw.filt('',_atw.list);return _ate.as('more')">Share
                                again.</a></div>
                            <div id="at_error" style="display: none;" class="at_error"></div>
                            <div style="display: none;" id="at_promo">
                                <div class="at-promo-btm at-promo-content"><h4>AddThis for Firefox<sup>NEW</sup></h4>
                                    <span>Bookmark, email or share any page, anytime.</span>

                                    <div class="at-promo-btn"><a
                                            href="http://www.addthis.com/landing/?to=ffext&amp;utm_source=el&amp;utm_medium=link&amp;utm_content=ATTool_orig&amp;utm_campaign=AT_tooldl"
                                            target="_blank">Install</a></div>
                                </div>
                            </div>
                            <div id="at_email" style="display: none; visibility: hidden;">
                                <div id="at_head" class="tmsg"><a id="at_use_addr" href="#"
                                                                  onclick="_atw.opp();return false">Use Address Book</a>
                                </div>
                                <form onsubmit="addthis_send();return false;"><label for="at_to">To: <span>(email address)</span></label><textarea
                                        id="at_to" cols="30" rows="4" onkeypress="_atw.htkd(this, event)"
                                        onkeyup="_atw.filt(this.value.replace(/;/g,',').replace(/ /g,'').split(',').pop(), _atw.data.contacts.all, 'at16eatdr', '_ataddr')"
                                        tabindex="2" onfocus="_atw.rse();"></textarea>

                                    <div id="at16eatdr" style="display: none;"></div>
                                    <label for="at_from">From: <span>(email address)</span></label><input id="at_from"
                                                                                                          name="at_from"
                                                                                                          tabindex="3"
                                                                                                          size="30"
                                                                                                          onfocus="_atw.rse();"
                                                                                                          type="text"><label
                                            for="at_msg">Note: <span>(optional)</span></label><textarea id="at_msg"
                                                                                                        style=""
                                                                                                        cols="30"
                                                                                                        rows="4"
                                                                                                        tabindex="4"
                                                                                                        onkeyup="return _atw.lml(this,250);"
                                                                                                        onfocus="_atw.rse();"></textarea>

                                    <div id="ateml">
                                        <small>255 character limit</small>
                                    </div>
                                    <div id="addthis-pop-email-btns"><input class="atbtn" tabindex="5" value="Send"
                                                                            onclick="return addthis_send();"
                                                                            type="submit"><input class="atbtn"
                                                                                                 tabindex="6"
                                                                                                 value="Cancel"
                                                                                                 onclick="return _atw.cef()"
                                                                                                 style="font-weight: normal; color: rgb(102, 102, 102);"
                                                                                                 type="reset"></div>
                                </form>
                            </div>
                        </div>
                        <div id="at16pf"><a id="at-whatsthis"
                                            href="http://www.addthis.com/features?utm_source=hm&amp;utm_medium=link&amp;utm_content=WhatsThis_orig&amp;utm_campaign=AT_features"
                                            target="_blank">What's this?</a><a
                                style="display: none; visibility: hidden;" id="at-privacy"
                                href="http://www.addthis.com/privacy" target="_blank">Privacy</a><a class="at_baa"
                                                                                                    id="at-logo"
                                                                                                    href="http://www.addthis.com/?utm_source=mm&amp;utm_medium=img&amp;utm_content=ATLogo_orig&amp;utm_campaign=AT_main"
                                                                                                    title="AddThis"
                                                                                                    target="_blank">AddThis</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="at15s" onmouseover="_atw.xwa()" onmouseout="addthis_close()"
         style="z-index: 1000000; position: absolute; visibility: visible; top: 94px; left: 979px; display: none;">
        <div id="at15s_head"><span id="at15ptc">Bookmark &amp; Share</span><span id="at15s_brand"></span></div>
        <div id="at_hover" style="display: block;">
            <div class="at_item at_col0" onmouseover="_atw.hov(this)" onmouseout="_atw.hov(this)"
                 onclick="return addthis_sendto('email');"><span class="at15t at15t_email">Email</span></div>
            <div class="at_item at_col1" onmouseover="_atw.hov(this)" onmouseout="_atw.hov(this)"
                 onclick="return addthis_sendto('favorites');"><span class="at15t at15t_favorites">Favorites</span>
            </div>
            <div class="at_item at_col0" onmouseover="_atw.hov(this)" onmouseout="_atw.hov(this)"
                 onclick="return addthis_sendto('print');"><span class="at15t at15t_print">Print</span></div>
            <div class="at_item at_col1" onmouseover="_atw.hov(this)" onmouseout="_atw.hov(this)"
                 onclick="return addthis_sendto('delicious');"><span class="at15t at15t_delicious">Delicious</span>
            </div>
            <div class="at_item at_col0" onmouseover="_atw.hov(this)" onmouseout="_atw.hov(this)"
                 onclick="return addthis_sendto('digg');"><span class="at15t at15t_digg">Digg</span></div>
            <div class="at_item at_col1" onmouseover="_atw.hov(this)" onmouseout="_atw.hov(this)"
                 onclick="return addthis_sendto('google');"><span class="at15t at15t_google">Google</span></div>
            <div class="at_item at_col0" onmouseover="_atw.hov(this)" onmouseout="_atw.hov(this)"
                 onclick="return addthis_sendto('myspace');"><span class="at15t at15t_myspace">MySpace</span></div>
            <div class="at_item at_col1" onmouseover="_atw.hov(this)" onmouseout="_atw.hov(this)"
                 onclick="return addthis_sendto('live');"><span class="at15t at15t_live">Live</span></div>
            <div class="at_item at_col0" onmouseover="_atw.hov(this)" onmouseout="_atw.hov(this)"
                 onclick="return addthis_sendto('facebook');"><span class="at15t at15t_facebook">Facebook</span></div>
            <div class="at_item at_col1" onmouseover="_atw.hov(this)" onmouseout="_atw.hov(this)"
                 onclick="return addthis_sendto('stumbleupon');"><span
                    class="at15t at15t_stumbleupon">StumbleUpon</span></div>
            <div class="at_item at_col0" onmouseover="_atw.hov(this)" onmouseout="_atw.hov(this)"
                 onclick="return addthis_sendto('twitter');"><span class="at15t at15t_twitter">Twitter</span></div>
            <div class="at_item at_colNaN" onmouseover="_atw.hov(this)" onmouseout="_atw.hov(this)"
                 onclick="return addthis_sendto('more');"><span class="at15t at15t_more">More... (53)</span></div>
            <div style="clear: both;"></div>
        </div>
        <div id="at16pf"><a id="at-whatsthis"
                            href="http://www.addthis.com/features?utm_source=hm&amp;utm_medium=link&amp;utm_content=WhatsThis_orig&amp;utm_campaign=AT_features"
                            target="_blank">What's this?</a><a class="at_baa" id="at-logo"
                                                               href="http://www.addthis.com/?utm_source=hm&amp;utm_medium=img&amp;utm_content=ATLogo_orig&amp;utm_campaign=AT_main"
                                                               title="AddThis" target="_blank">AddThis</a></div>
    </div>
</div>
</body>
</html>